/*   BUTTONS BAR   */
#buttons {
	display:block;
	width:900px;
	height:38px;
	margin:0px 0 0 33px;
	padding:0px 0px 0px 8px;
	background:url(../images/buttons_bg.jpg) repeat-x center bottom;
	clear:both;
}
#buttons ul {
	display:inline;
	height:38px;
	margin:0px;
	padding:0px;
	float:left;
}
#buttons ul li {
	display:inline;
	margin:0px;
	padding:0px;
	text-decoration:none;
	float:left;
}
#buttons ul li a span, #buttons a span {
	visibility:visible;
	text-decoration:none;
	margin:0px;
	padding:0px;
	background:none;
	text-transform: uppercase;
	display: block;
	padding-top: 12px;
}
#buttons ul li.current_page_item a span, #buttons ul li.current_page_item a:hover span {
	padding-top: 11px;
}
#buttons ul li a, #buttons ul li a:hover, #buttons ul li.current_page_item a, #buttons ul li.current_page_item a:hover {
	display:block;
	height:38px;
	text-decoration:none;
	text-align:center;
	color:#035A72;
	font-size:16px;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0px 2px;
	padding:0 15px 0px;
	float:left;
	border-bottom: #a3c9d3;
}
#buttons ul li.bsp a.b1, #buttons ul li.bsp a.b1:hover, #buttons ul li.current_page_item a, #buttons ul li.current_page_item a:hover {
	color:#d56908;
}
#buttons ul li a:hover {
	background:url(../images/button_hover_bg.jpg) repeat-x center bottom;
}
#buttons ul li.current_page_item a, #buttons ul li.current_page_item a:hover {
	border: 1px solid #a3c9d3;
	border-bottom: #fff;
	background: #fff;
}
/*   SUB BUTTONS BAR   */
#sub_buttons {
	width:917px;
	height:33px;
	padding:0px 0 0 13px;
	margin:11px 0 0 0;
	float:left;
}
#sub_buttons ul {
	margin:0px;
	padding:0px;
	list-style:none;
	background:none;
}
#sub_buttons ul li {
	height:33px;
	margin:0px;
	padding:0px;
	text-decoration:none;
	float:left;
	list-style:none;
	background:none;
}
#sub_buttons ul li a span, #sub_buttons a span {
	visibility:visible;
	text-decoration:none;
	margin:0px;
	padding:0px;
	background:none;
}
#sub_buttons ul li.s1 a, 
#sub_buttons ul li.s1 a:hover,
 #sub_buttons ul li.s1.current-menu-item a,
 #sub_buttons ul li.s1.current-menu-item a:hover,
 #sub_buttons ul li.s2 a,
 #sub_buttons ul li.s2 a:hover,
 #sub_buttons ul li.s2.current-menu-item a,
 #sub_buttons ul li.s2.current-menu-item a:hover,
 #sub_buttons ul li.s3 a,
 #sub_buttons ul li.s3 a:hover,
 #sub_buttons ul li.s3.current-menu-item a,
 #sub_buttons ul li.s3.current-menu-item a:hover,
 #sub_buttons ul li.s4 a,
 #sub_buttons ul li.s4 a:hover,
 #sub_buttons ul li.s4.current-menu-item a,
 #sub_buttons ul li.s4.current-menu-item a:hover,
 #sub_buttons ul li.s5 a,
 #sub_buttons ul li.s5 a:hover,
 #sub_buttons ul li.s5.current-menu-item a,
 #sub_buttons ul li.s5.current-menu-item a:hover {
	width:174px;
	height:25px;
	text-decoration:none;
	text-align:center;
	color:#FFFFFF;
	font-size:15px;
	font-family:Georgia,"Times New Roman", Times, serif;
	margin:0px 4px 0 0;
	padding:8px 0 0 0;
	display:block;
	float:left;
}
#sub_buttons ul li.s1 a {
	background:url(../images/cBtn1.jpg) left top no-repeat;
}
#sub_buttons ul li.s2 a {
	background:url(../images/cBtn2.jpg) left top no-repeat;
}
#sub_buttons ul li.s3 a {
	background:url(../images/cBtn3.jpg) left top no-repeat;
}
#sub_buttons ul li.s4 a {
	background:url(../images/cBtn4.jpg) left top no-repeat;
}
#sub_buttons ul li.s5 a {
	background:url(../images/cBtn5.jpg) left top no-repeat;
}
#sub_buttons ul li.s1 a:hover, #sub_buttons ul li.s1.current-menu-item a, #sub_buttons ul li.s1.current-menu-item a:hover {
	background:url(../images/cBtn1.current-menu-item.jpg) center top no-repeat;
}
#sub_buttons ul li.s2 a:hover, #sub_buttons ul li.s2.current-menu-item a, #sub_buttons ul li.s2.current-menu-item a:hover {
	background:url(../images/cBtn2.current-menu-item.jpg) center top no-repeat;
}
#sub_buttons ul li.s3 a:hover, #sub_buttons ul li.s3.current-menu-item a, #sub_buttons ul li.s3.current-menu-item a:hover {
	background:url(../images/cBtn3.current-menu-item.jpg) center top no-repeat;
}
#sub_buttons ul li.s4 a:hover, #sub_buttons ul li.s4.current-menu-item a, #sub_buttons ul li.s4.current-menu-item a:hover {
	background:url(../images/cBtn4.current-menu-item.jpg) center top no-repeat;
}
#sub_buttons ul li.s5 a:hover, #sub_buttons ul li.s5.current-menu-item a, #sub_buttons ul li.s5.current-menu-item a:hover {
	background:url(../images/cBtn5.current-menu-item.jpg) center top no-repeat;
}
#sub_buttons1 {
	width:917px;
	height:33px;
	padding:0px 0 0 13px;
	margin:11px 0 0 0;
	float:left;
}
#sub_buttons1 ul {
	margin:0px;
	padding:0px;
	list-style:none;
	background:none;
}
#sub_buttons1 ul li {
	height:33px;
	margin:0px;
	padding:0px;
	text-decoration:none;
	float:left;
	list-style:none;
	background:none;
}
#sub_buttons1 ul li a span, #sub_buttons1 a span {
	visibility:visible;
	text-decoration:none;
	margin:0px;
	padding:0px;
	background:none;
}
#sub_buttons1 ul li.s1 a, #sub_buttons1 ul li.s1 a:hover, #sub_buttons1 ul li.s1.current-menu-item a, #sub_buttons1 ul li.s1.current-menu-item a:hover, #sub_buttons1 ul li.s2 a, #sub_buttons1 ul li.s2 a:hover, #sub_buttons1 ul li.s2.current-menu-item a, #sub_buttons1 ul li.s2.current-menu-item a:hover, #sub_buttons1 ul li.s3 a, #sub_buttons1 ul li.s3 a:hover, #sub_buttons1 ul li.s3.current-menu-item a, #sub_buttons1 ul li.s3.current-menu-item a:hover, #sub_buttons1 ul li.s4 a, #sub_buttons1 ul li.s4 a:hover, #sub_buttons1 ul li.s4.current-menu-item a, #sub_buttons1 ul li.s4.current-menu-item a:hover, #sub_buttons1 ul li.s5 a, #sub_buttons1 ul li.s5 a:hover, #sub_buttons1 ul li.s5.current-menu-item a, #sub_buttons1 ul li.s5.current-menu-item a:hover {
	width:174px;
	height:25px;
	text-decoration:none;
	text-align:center;
	color:#FFFFFF;
	font-size:15px;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0px 4px 0 0;
	padding:8px 0 0 0;
	display:block;
	float:left;
}
#sub_buttons1 ul li.s1 a {
	background:url(../images/cBtn1.jpg) left top no-repeat;
}
#sub_buttons1 ul li.s2 a {
	background:url(../images/cBtn2.jpg) left top no-repeat;
}
#sub_buttons1 ul li.s3 a {
	background:url(../images/cBtn3.jpg) left top no-repeat;
}
#sub_buttons1 ul li.s4 a {
	background:url(../images/cBtn4.jpg) left top no-repeat;
}
#sub_buttons1 ul li.s5 a {
	background:url(../images/cBtn5.jpg) left top no-repeat;
}
#sub_buttons1 ul li.s1 a:hover, #sub_buttons1 ul li.s1.current-menu-item a, #sub_buttons1 ul li.s1.current-menu-item a:hover {
	background:url(../images/cBtn1R.jpg) center top no-repeat;
}
#sub_buttons1 ul li.s2 a:hover, #sub_buttons1 ul li.s2.current-menu-item a, #sub_buttons1 ul li.s2.current-menu-item a:hover {
	background:url(../images/cBtn2R.jpg) center top no-repeat;
}
#sub_buttons1 ul li.s3 a:hover, #sub_buttons1 ul li.s3.current-menu-item a, #sub_buttons1 ul li.s3.current-menu-item a:hover {
	background:url(../images/cBtn3R.jpg) center top no-repeat;
}
#sub_buttons1 ul li.s4 a:hover, #sub_buttons1 ul li.s4.current-menu-item a, #sub_buttons1 ul li.s4.current-menu-item a:hover {
	background:url(../images/cBtn4R.jpg) center top no-repeat;
}
#sub_buttons1 ul li.s5 a:hover, #sub_buttons1 ul li.s5.current-menu-item a, #sub_buttons1 ul li.s5.current-menu-item a:hover {
	background:url(../images/cBtn5R.jpg) center top no-repeat;
}
body#reports #sub_buttons {
	height:38px;
}
body#reports #sub_buttons ul li.s1.current-menu-item a, body#reports #sub_buttons ul li.s1.current-menu-item a:hover {
	height:30px;
	background:url(../images/cBtn1.current-menu-item_1.jpg) center top no-repeat;
}
body#reports #sub_buttons ul li.s2.current-menu-item a, body#reports #sub_buttons ul li.s2.current-menu-item a:hover {
	height:30px;
	background:url(../images/cBtn2.current-menu-item_2.jpg) center top no-repeat;
}
body#reports #sub_buttons ul li.s3.current-menu-item a, body#reports #sub_buttons ul li.s3.current-menu-item a:hover {
	height:30px;
	background:url(../images/cBtn3.current-menu-item_3.jpg) center top no-repeat;
}
body#reports #sub_buttons ul li.s4.current-menu-item a, body#reports #sub_buttons ul li.s4.current-menu-item a:hover {
	height:30px;
	background:url(../images/cBtn4.current-menu-item_4.jpg) center top no-repeat;
}
body#reports #sub_buttons ul li.s5.current-menu-item a, body#reports #sub_buttons ul li.s5.current-menu-item a:hover {
	height:30px;
	background:url(../images/cBtn5.current-menu-item_5.jpg) center top no-repeat;
}







#loginSubmit {
	background:url('../images/login.jpg') no-repeat;
	height:22px;
	width:69px;
	border: 0px;
	border-width: 0px;
	text-indent: -9999px;
	cursor: pointer;
}
