@import url(http://fonts.googleapis.com/css?family=Roboto:700);
body {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  font-style: normal;
  font-weight: normal;
  background: #907f4a url(../images/background.jpg) left top repeat-x;
  font-size: 13px;
  color: #848484;
  margin: 0px;
  padding: 0px;
}
/* Wrappers */
.wrapper {
  display: block;
  margin: 0px auto;
  padding: 0;
  width: 100%;
  height: auto;
  background: url(../images/mainBG.jpg) center top no-repeat;
  float: left;
}
.wrapper-home {
  display: block;
  margin: 0px auto;
  padding: 0;
  width: 100%;
  background: url(../images/mainBG.jpg) center top no-repeat;
  float: left;
}
/* Containers */
.container {
  display: block;
  margin: 0px auto;
  padding: 0px;
  width: 999px;
  height: auto;
  clear: both;
}
/* Banner & Logo */
.banner {
  display: block;
  margin: 0px;
  padding: 0px 33px;
  width: 933px;
  height: 124px;
  clear: both;
}
.logo {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 205px;
  height: 124px;
  background: url(../images/logo.jpg) left top no-repeat;
  float: left;
}
.client_login {
  display: block;
  margin: 0px;
  padding: 2px 0px 0px 20px;
  width: 460px;
  height: 24px;
  float: right;
}
.client_login a {
  color: #FFFFFF;
  text-decoration: none;
}
/*.client_login .p12 {
  font-family: Georgia, "Times New Roman", Times, serif;
}*/
.client_login a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.client_login input.unpw {
  color: #9b9b9b;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}
.banner_text p {
  display: block;
  margin: 0px;
  padding: 44px 40px 0px 0px;
  width: 450px;
  height: 24px;
  float: right;
  text-align: right;
  font-size: 16px;
  color: #035f79;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  font-weight: bold;
}
div.text {
  display: block;
  width: 113px;
  height: 23px;
  padding: 0px;
  margin: 0px;
  background: url(../images/text_field.jpg) center top no-repeat;
}
input.unpw {
  display: block;
  width: 103px;
  height: 18px;
  font-size: 11px;
  margin: 0px 5px;
  padding: 2px 0px 0px;
  padding: 5px 0px 0px\9;
  background: none;
  border: none;
}
input.login {
  display: block;
  width: 69px;
  height: 22px;
  background: url(../images/login.jpg) 0px 0% no-repeat;
  border: none;
  cursor: pointer;
}
/*input.login:hover,
a:hover img {
  filter: alpha(opacity=60);
  -moz-opacity: .50;
  opacity: .50;
}*/
/* Content + Information Sections */
.content {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 999px;
  height: auto;
  background: url(../images/content-home-BG.jpg) center top repeat-y;
  float: left;
}
.info {
  display: block;
  margin: 0px 0px 0px;
  padding: 0px 33px;
  width: 933px;
  min-height: 662px;
  background: url(../images/infoBG.jpg) center top no-repeat;
  float: left;
  clear: both;
}
.info-home {
  display: block;
  margin: 0px 0px 0px;
  padding: 0px 33px;
  width: 933px;
  min-height: 662px;
  background: url(../images/info-home-BG.jpg) center top no-repeat;
  float: left;
  clear: both;
}
.sections_banner {
  display: block;
  margin: 0px 0px 0px;
  padding: 0px 0px;
  width: 910px;
  height: 103px;
  background: url(../images/banner_reports.jpg) left top no-repeat;
  float: left;
  clear: both;
}
body#reports.banner_trending .sections_banner {
  height: 100px;
  background: url(../images/banner_trending.jpg) left top no-repeat;
}
body#reports.banner_trending2 .sections_banner {
  height: 100px;
  background: url(../images/banner_trending2.jpg) left top no-repeat;
}
body#reports.banner_growth .sections_banner {
  height: 100px;
  background: url(../images/banner_growth.jpg) left top no-repeat;
}
body#reports.banner_growth2 .sections_banner {
  height: 100px;
  background: url(../images/banner_growth2.jpg) left top no-repeat;
}
body#reports.banner_commodity .sections_banner {
  height: 100px;
  background: url(../images/banner_commodity.jpg) left top no-repeat;
}
body#reports.banner_blue_chip .sections_banner {
  height: 100px;
  background: url(../images/banner_blue_chip.jpg) left top no-repeat;
}
body#reports.banner_story_month .sections_banner {
  height: 100px;
  background: url(../images/banner_story_month.jpg) left top no-repeat;
}
.welcome {
  display: block;
  margin: 0px 0px 0px;
  padding: 8px 0px 0px 200px;
  width: 710px;
  height: 39px;
  background: url(../images/welcome.jpg) left top no-repeat;
  float: left;
  clear: both;
}
.infoLeft,
.infoMiddle,
.infoRight,
.right,
.infoText {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 250px;
  height: auto;
  float: left;
}
.infoLeft {
  padding: 22px 30px 10px 0px;
  width: 220px;
  background: url(../images/left.jpg) left top no-repeat;
}
.infoMiddle {
  padding: 22px 20px 10px;
  width: 421px;
  background: none;
}
.speech,
.speech_top,
.speech_info,
.speech_bottom {
  display: block;
  width: 388px;
  background: url(../images/speechBG.jpg) left top repeat-y;
}
.speech_top {
  background: url(../images/speech_top.jpg) left top no-repeat;
  height: 71px;
}
.speech_info {
  position: relative;
  width: 250px;
  margin: -68px 0px -58px 0px;
  padding: 0px 64px 0px 74px;
  background: none;
  z-index: 100;
}
.speech_bottom {
  background: url(../images/speech_bottom.jpg) left bottom no-repeat;
  height: 123px;
}
.infoRightdisplay {
  width: 342px;
  background: url(../images/rightBG.png) center top repeat-y;
  margin: 14px -104px 0px 0px;
  float: right;
}
.infoRight h1 {
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #FFFFFF;
}
.infoRight h2 {
  display: block;
  width: 206px;
  line-height: 18px;
  height: 17px;
  padding: 0px 5px;
  color: #C1272D;
  font-size: 12px;
  background: url(../images/dateBG.jpg) 0px 0% no-repeat;
  font-weight: normal;
}
.infoRight p {
  color: #FFFFFF;
}
.right {
  display: block;
  width: 218px;
  background: url(../images/right.jpg) center top no-repeat;
  padding: 15px 112px 10px 12px;
  float: left;
  clear: both;
}
.infoText {
  padding: 20px 0 0;
  width: 920px;
}
body#general .infoText {
  padding: 20px 60px 20px 14px;
  width: 866px;
}
/*body#home .infoText{padding:0px 0px;width:893px;}*/
/* Homepage Info Text START */
.infoText .daily_tips {
  float: left;
  width: 530px;
}
.infoText .daily_tips .top {
  border-bottom: 1px solid #e8f1f5;
  padding: 0px 10px 0;
  height: 36px;
  margin-bottom: 8px;
}
.infoText .daily_tips .top h2 {
  float: left;
  background: url(../images/icon_daily_tips.png) no-repeat right bottom;
  font-size: 20px;
  color: 155667;
  padding: 10px 40px 5px 0;
  margin: 0;
  font-weight: bold;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.infoText .daily_tips .top h3 {
  float: right;
  font-weight: bold;
  font-size: 16px;
  color: 155667;
  padding: 10px 0 5px 0;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
}
.infoText .daily_tips .items {
  clear: both;
}
.infoText .daily_tips .items .item {
  clear: both;
}
.infoText .daily_tips .items .item h4 {
  float: left;
  /* 	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial; */
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #155667;
  padding: 0;
  margin: 0;
  width: 400px;
  text-overflow: ellipsis;
  /* will make [...] at the end */
  white-space: nowrap;
  /* paragraph to one line */
  overflow: hidden;
  /* older browsers */
}
.infoText .daily_tips .items .item h4 a {
  color: #155667;
  font-size: 13px;
  font-weight: normal;
  /* 		padding-bottom: 15px; */
  /* 	text-decoration: underline; */
}
.infoText .daily_tips .items .item h4 a:hover {
  color: #155667;
  text-decoration: underline;
}
.infoText .daily_tips .items .item {
  margin-bottom: 0px;
}
.infoText .daily_tips .items .item .date {
  float: right;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  font-size: 11px;
  color: #035a72;
}
.infoText .daily_tips .items .item .desc {
  clear: both;
}
.infoText .daily_tips .items .item .desc p {
  margin-bottom: 0;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  font-size: 11px;
  color: #403f3f;
  line-height: 14px;
}
.infoText .daily_tips .items .item .desc .more a {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  font-size: 11px;
  color: #035a72;
  line-height: 11px;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: bold;
}
.infoText .daily_tips .items .item .desc .more a:hover {
  text-decoration: underline;
}
.infoText .daily_tips .bottom {
  width: auto;
  padding: 0;
}
.infoText .daily_tips .bottom a:hover img {
  filter: none;
}
.infoText .feedback {
  width: 360px;
  float: right;
  background: url(../images/feedback_bg.jpg) no-repeat left top;
  padding: 0;
  height: auto;
}
.infoText .feedback .top {
  padding: 0px 10px 0;
  height: 37px;
}
.infoText .feedback .top h2 {
  float: left;
  background: url(../images/icon_feedback.png) no-repeat right 8px;
  font-size: 20px;
  color: 155667;
  padding: 10px 35px 5px 0;
  margin: 0;
  font-weight: bold;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.infoText .feedback .items {
  padding: 0px 10px 0;
}
.infoText .feedback .items p {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  font-size: 13px;
  line-height: 18px;
  color: #155667;
}
.infoText .feedback .bottom {
  padding: 0 0 50px 10px;
  width: auto;
}
.infoText .feedback .bottom a.more {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  font-size: 11px;
  color: #03607a;
  text-transform: uppercase;
}
/* Homepage Info Text END */
#home_main {
  background: url(../images/home_main_bg_new.jpg) left top no-repeat;
  width: 919px;
  height: 534px;
  position: relative;
}
#home_main h1 {
  background-image: none;
  font-size: 23px;
  font-weight: bold;
  line-height: normal;
  text-transform: none;
  margin: 0px;
  margin-top: -120px;
  padding: 0px;
  padding-bottom: 70px;
}
#home_main h2 {
  margin: 0px;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  padding-bottom: 20px;
}
#home_main a:hover img {
  filter: none;
}
#home_main .desc {
  position: absolute;
  top: 175px;
  left: 16px;
  width: 320px;
}
.desc.custom p {
  font-size: 12px;
  line-height: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  font-weight: normal !important;
  color: #585858;
}
#home_main .desc p {
  color: #138eb2;
  font-size: 17px;
  line-height: 22px;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  font-weight: bold;
  margin-bottom: 14px;
}
#home_main .flash {
  position: absolute;
  top: 60px;
  text-align: center;
  left: 290px;
  width: 280px;
}
#home_main .flash #david {
  text-align: left;
  margin: 0 15px 0 62px;
  color: #004d64;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}
#home_main .flash #david-title {
  text-align: left;
  margin: 0 15px 0 62px;
  color: #da7b00;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10px;
  text-transform: uppercase;
}
#home_main .flash #david-video-intro {
  text-align: left;
  margin: 5px 35px 0 62px;
  color: #004d64;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}
#home_main .flash p {
  margin-bottom: 6px;
}
#home_main .subscribe {
  position: absolute;
  /* 	bottom: 0; */
  left: 16px;
  width: 880px;
  padding: 0;
  height: 100px;
  top: 340px;
}
#home_main .subscribe .left_desc {
  float: left;
  width: 280px;
  padding-top: 10px;
  padding-left: 4px;
}
#home_main .subscribe .left_desc p {
  font-size: 17px;
  line-height: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  color: #fff;
}
#home_main .subscribe .right_links {
  float: right;
  width: 540px;
}
#home_main .subscribe .right_links ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#home_main .subscribe .right_links li {
  display: inline;
  border-left: 1px solid #0b556c;
  float: left;
  height: 95px;
}
#home_main .subscribe .right_links li span.container {
  padding: 0px 10px 5px 15px;
  display: block;
  width: 150px;
  height: 76px;
  border-left: 1px solid #386f7f;
}
#home_main .subscribe .right_links li.hrow3 span.container {
  padding-top: 0;
  /* padding-top(19) - line-height(19) */
  height: 95px;
}
#home_main .subscribe .right_links span.head {
  font-size: 17px;
  font-weight: bold;
  line-height: 19px;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  color: #fff;
}
#home_main .subscribe .right_links a {
  display: block;
  font-size: 12px;
  line-height: 15px;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  color: #9feafe;
  text-decoration: none;
}
#home_main .subscribe .right_links a:hover {
  text-decoration: underline;
}
#homepage-result-panel {
  background: url(../images/trends-percentage-bg.png) center top no-repeat;
  /*border:1px solid red;*/
  width: 15px;
  height: 15px;
  position: absolute;
  top: 40px;
  left: 550px;
  width: 325px;
  height: 222px;
}
#result-percentage {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 100px;
  position: absolute;
  top: 50px;
  left: 32px;
  width: 300px;
  text-align: center;
  /*text-shadow: 1px 0px 20px white;*/
  -webkit-animation: percentageGlow 5s;
  /* Chrome, Safari, Opera */
  animation: percentageGlow 5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes percentageGlow {
  0% {
    text-shadow: 1px 0px 20px white;
  }
  50% {
    text-shadow: 1px 0px 0px white;
  }
  100% {
    text-shadow: 1px 0px 20px white;
  }
}
/* Standard syntax */
@keyframes percentageGlow {
  0% {
    text-shadow: 1px 0px 20px white;
  }
  50% {
    text-shadow: 1px 0px 0px white;
  }
  100% {
    text-shadow: 1px 0px 20px white;
  }
}
#result-percentage span {
  font-size: 48px;
  vertical-align: super;
}
#result-summary p {
  position: absolute;
  top: 128px;
  left: 42px;
  width: 240px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
#results-button {
  background: url(../images/btn-past-results.png) center top no-repeat;
  width: 128px;
  height: 29px;
  position: absolute;
  left: 50%;
  top: 172px;
  margin-left: -64px;
  cursor: pointer;
  text-indent: -9999px;
}
#results-button:hover {
  background: url(../images/btn-past-results.png) center bottom no-repeat;
}
#results-past-results {
  position: absolute;
  top: 230px;
  font-size: 9px;
  color: #014a60;
  text-align: center;
  width: 300px;
  left: 12px;
}
table.subscribe_form {
  margin: 0px 0px 5px;
}
table.subscribe_form td {
  margin: 0px;
  padding: 0px 0px 5px;
}
div.text2 {
  display: block;
  width: 205px;
  height: 23px;
  padding: 0px;
  margin: 0px;
  background: url(../images/text_field2.jpg) center top no-repeat;
}
input.submit {
  display: block;
  width: 207px;
  height: 29px;
  padding: 0px;
  background: url(../images/subscribe_free.jpg) left top no-repeat;
  border: none;
  cursor: pointer;
}
input.submit:hover {
  filter: alpha(opacity=60);
  -moz-opacity: .50;
  opacity: .50;
}
input.nemp {
  display: block;
  width: 195px;
  height: 18px;
  font-size: 11px;
  margin: 0px 5px;
  padding: 5px 0px 0px;
  background: none;
  border: none;
}
.privacy {
  display: block;
  width: 250px;
  margin: 0px 0px 0px -9px;
  padding: 0px;
  clear: both;
  font-size: 11px;
  color: #FFFFFF;
}
/* Join Sections */
.join_banner {
  display: block;
  margin: 0px 0px 12px;
  padding: 0px 0px;
  width: 910px;
  height: 256px;
  background: url(../images/banner_join.jpg) left top no-repeat;
  float: left;
  clear: both;
}
.view_reports_join {
  display: block;
  width: 910px;
  height: auto;
  margin: 0px 0px 0px;
  padding: 25px 0px 0px;
  background: url(../images/view_reports_join.jpg) left top no-repeat;
  float: left;
  clear: both;
}
a#trending_join {
  display: block;
  width: 324px;
  height: 204px;
  margin: 0px 0px 0px;
  padding: 0px 0px 0px;
  background: url(../images/trending_join.jpg) left top no-repeat;
  float: left;
}
a#story_month_join {
  display: block;
  width: 335px;
  height: 204px;
  margin: 0px 0px 0px;
  padding: 0px 0px 0px;
  background: url(../images/story_month_join.jpg) left top no-repeat;
  float: left;
}
a#trending_join:hover,
a#story_month_join:hover {
  filter: alpha(opacity=60);
  -moz-opacity: .50;
  opacity: .50;
}
a#trending_join span,
a#story_month_join span {
  visibility: hidden;
  text-decoration: none;
}
.subscribe_join {
  display: block;
  width: 221px;
  height: 260px;
  background: url(../images/subscribe_join.jpg) left top no-repeat;
  margin: -25px 0px 0px;
  padding: 40px 11px 20px 19px;
  float: right;
}
.privacy_join {
  display: block;
  line-height: 14px;
  width: 221px;
  margin: 0px 0px 0px;
  padding: 0px;
  clear: both;
  font-size: 11px;
  color: #FFFFFF;
}
.feedback_join {
  display: block;
  width: 616px;
  height: auto;
  margin: 0px;
  padding: 35px 30px 10px 12px;
  background: url(../images/feedback_join.jpg) left top no-repeat;
  float: left;
}
/* Members Sections */
.joinNow_banner {
  display: block;
  margin: 0px 0px 27px;
  padding: 0px 0px;
  width: 910px;
  height: 230px;
  background: url(../images/joinNow_banner.jpg) left top no-repeat;
  float: left;
  clear: both;
}
.joinNow_expert_rep {
  display: block;
  width: 910px;
  height: auto;
  margin: 0px 0px 0px;
  padding: 30px 0px 0px;
  background: url(../images/joinNow_expert_rep.jpg) left top no-repeat;
  float: left;
  clear: both;
}
.joinNow_reports {
  display: block;
  width: 510px;
  height: auto;
  margin: 0px 0px 0px;
  padding: 0px 19px 10px 0px;
  float: left;
}
.joinNow_reports img {
  float: left;
  margin: 0px 10px 0px 0px;
}
.joinNow_reports a img:hover {
  filter: alpha(opacity=60);
  -moz-opacity: .50;
  opacity: .50;
}
.joinNow_reports p {
  display: block;
  width: 510px;
  float: left;
  clear: both;
  margin: 0px;
  padding: 0px 19px 8px 0px;
}
.joinNow_subscribe {
  display: block;
  width: 351px;
  height: 545px;
  background: url(../images/joinNow_subscribe.jpg) left top no-repeat;
  margin: -57px 0px 0px;
  padding: 60px 11px 20px 19px;
  float: right;
}
.joinNow_privacy {
  display: block;
  width: 300px;
  margin: 0px 0px 0px;
  padding: 0px;
  clear: both;
  font-size: 11px;
  color: #FFFFFF;
}
.joinNow_memb_offer {
  display: block;
  width: 499px;
  height: auto;
  margin: 0px;
  padding: 30px 30px 10px 0px;
  background: url(../images/joinNow_memb_offer.jpg) left top no-repeat;
  float: left;
}
.joinNow_feedback {
  display: block;
  width: 499px;
  height: auto;
  margin: 0px;
  padding: 30px 30px 10px 0px;
  background: url(../images/joinNow_feedback.jpg) left top no-repeat;
  float: left;
}
/* Report Sections */
.sections {
  display: block;
  width: 920px;
  height: auto;
  margin: 0px;
  padding: 0px;
  background: url(../images/sectionsBG.jpg) left bottom no-repeat;
  float: left;
}
.reports,
.reports2,
.reports3 {
  display: block;
  width: 920px;
  height: auto;
  margin: 0px;
  padding: 21px 0px 0px;
  background: url(../images/reportsBG.jpg) left top no-repeat;
  float: left;
}
.reports {
  background: none;
}
.reports .desc {
  padding-left: 10px;
}
.reports .desc p {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #155667;
  margin-bottom: 0;
}
.reports2 {
  background: none;
  padding: 0px;
}
.reports3 {
  background: url(../images/sectionsBG.jpg) left bottom no-repeat;
  padding: 0px;
  margin: 0px 0px 20px;
}
/*.reports .reports_info{height:94px;}.reports2 .reports_info{height:179px;}
.reports_numbers{margin:0px;padding:0px 10px 0px 0px;float:left;font-size:30px;}
div.reports_top{display:block;height:22px;margin:0px;padding:5px 0px;clear:both;font-size:10px;}div.reports_top p{font-size:10px;margin:0px;padding:0px;}
.reports p,.reports2 p{font-size:11px;line-height:15px;margin:0px;padding:0px 0px 5px;color:#585858;}.reports2 p{font-size:12px;}
.reports a, .reports2 a{color:#03607A;text-decoration:none;}.reports a:hover,.reports2 a:hover{color:#03607A;text-decoration:underline;}*/
/* Trending */
.trending {
  display: block;
  width: 202px;
  height: auto;
  margin: 0px 0px 0px -24px;
  padding: 0px;
  float: left;
}
.trending .top {
  display: block;
  width: 152px;
  height: 90px;
  margin: 0px;
  margin-bottom: 6px;
  padding: 105px 15px 0px 35px;
  background: url(../images/trending.jpg) left top no-repeat;
  position: relative;
  float: left;
}
.trending .top .header {
  position: absolute;
  height: 80px;
  width: 166px;
  left: 25px;
  top: 15px;
}
.trending .top .header a {
  display: block;
  height: 100%;
  width: 100%;
}
.trending .top .desc {
  padding: 0 !important;
  margin: 0;
}
.trending .top .desc p {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  margin: 0 !important;
  padding: 0 !important;
  color: #403f3f !important;
  font-size: 12px;
  line-height: 15px !important;
}
.trending .top .link {
  padding-bottom: 0;
  margin-bottom: 0;
}
.trending p {
  margin-bottom: 0;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  color: #585858;
}
.trending .top .link a {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #035a72;
  font-size: 11px;
}
.trending .top .link a:hover {
  text-decoration: underline;
}
.trending_numbers {
  margin: 0px;
  padding: 0px 5px 0px 30px;
  float: left;
  font-size: 30px;
}
.trending p,
.trendingB p {
  font-size: 12px;
  line-height: 16px;
}
/*big*/
.trendingB {
  display: block;
  width: 202px;
  height: auto;
  margin: 0px 0px 0px -24px;
  padding: 0px;
  float: left;
}
.trendingB a,
.trendingB a:hover {
  display: block;
  width: 152px;
  margin: 0px;
  padding: 303px 15px 0px 35px;
  background: url(../images/trendingB.jpg) left top no-repeat;
  text-decoration: none;
  float: left;
}
.trendingB a:hover {
  filter: alpha(opacity=60);
  -moz-opacity: .50;
  opacity: .50;
}
.trendingB a span {
  visibility: hidden;
  text-decoration: none;
}
/* Growth */
.growth {
  display: block;
  width: 186px;
  height: auto;
  margin: 0px;
  padding: 0px;
  float: left;
  position: relative;
}
.growth .top {
  display: block;
  width: 152px;
  height: 90px;
  margin: 0px;
  margin-bottom: 6px;
  padding: 105px 15px 0px 20px;
  background: url(../images/growth.jpg) left top no-repeat;
  float: left;
}
.growth .top .header {
  position: absolute;
  height: 80px;
  width: 166px;
  left: 10px;
  top: 15px;
}
.growth .top .header a {
  display: block;
  height: 100%;
  width: 100%;
}
.growth .top .desc {
  padding: 0 !important;
  margin: 0;
}
.growth .top .desc p {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  margin: 0 !important;
  padding: 0 !important;
  color: #403f3f !important;
  font-size: 12px;
  line-height: 15px !important;
}
.growth .top .link {
  padding-bottom: 0;
  margin-bottom: 0;
}
.growth p {
  margin-bottom: 0;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  color: #585858;
}
.growth .top .link a {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #035a72;
  font-size: 11px;
}
.growth .top .link a:hover {
  text-decoration: underline;
}
.growth_numbers {
  margin: 0px;
  padding: 0px 5px 0px 10px;
  float: left;
  font-size: 30px;
}
.growth p,
.growthB p {
  font-size: 12px;
  line-height: 16px;
}
/*big*/
.growthB {
  display: block;
  width: 186px;
  height: auto;
  margin: 0px;
  padding: 0px;
  float: left;
}
.growthB a,
.growthB a:hover {
  display: block;
  width: 146px;
  margin: 0px;
  padding: 303px 20px 0px 20px;
  background: url(../images/growthB.jpg) left top no-repeat;
  text-decoration: none;
  float: left;
}
.growthB a:hover {
  filter: alpha(opacity=60);
  -moz-opacity: .50;
  opacity: .50;
}
.growthB a span {
  visibility: hidden;
  text-decoration: none;
}
.growth_numbers {
  margin: 0px;
  padding: 0px 5px 0px 10px;
  float: left;
  font-size: 30px;
}
/* 3 Year Commodity */
.commodity {
  display: block;
  width: 186px;
  height: auto;
  margin: 0px;
  padding: 0px;
  float: left;
}
.commodity .top {
  display: block;
  width: 152px;
  height: 90px;
  margin: 0px;
  margin-bottom: 6px;
  padding: 105px 15px 0px 20px;
  background: url(../images/commodity.jpg) left top no-repeat;
  position: relative;
  float: left;
}
.commodity .top .desc {
  padding: 0 !important;
  margin: 0;
}
.commodity .top .header {
  position: absolute;
  height: 80px;
  width: 166px;
  left: 10px;
  top: 15px;
}
.commodity .top .header a {
  display: block;
  height: 100%;
  width: 100%;
}
.commodity .top .desc p {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  margin: 0 !important;
  padding: 0 !important;
  color: #403f3f !important;
  font-size: 12px;
  line-height: 15px !important;
}
.commodity .top .link {
  padding-bottom: 0;
  margin-bottom: 0;
}
.commodity p {
  margin-bottom: 0;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  color: #585858;
}
.commodity .top .link a {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #035a72;
  font-size: 11px;
}
.commodity .top .link a:hover {
  text-decoration: underline;
}
.commodity_numbers {
  margin: 0px;
  padding: 0px 5px 0px 10px;
  float: left;
  font-size: 30px;
}
.commodity p,
.commodityB p {
  font-size: 12px;
  line-height: 16px;
}
/*big*/
.commodityB {
  display: block;
  width: 186px;
  height: auto;
  margin: 0px;
  padding: 0px;
  float: left;
}
.commodityB a,
.commodityB a:hover {
  display: block;
  width: 146px;
  margin: 0px;
  padding: 303px 20px 0px 20px;
  background: url(../images/commodityB.jpg) left top no-repeat;
  text-decoration: none;
  float: left;
}
.commodityB a:hover {
  filter: alpha(opacity=60);
  -moz-opacity: .50;
  opacity: .50;
}
.commodityB a span {
  visibility: hidden;
  text-decoration: none;
}
.commodity_numbers {
  margin: 0px;
  padding: 0px 5px 0px 10px;
  float: left;
  font-size: 30px;
}
/* Blue Chip */
.blue_chip {
  display: block;
  width: 186px;
  height: auto;
  margin: 0px;
  padding: 0px;
  float: left;
}
.blue_chip .top {
  display: block;
  width: 152px;
  height: 90px;
  margin: 0px;
  margin-bottom: 6px;
  padding: 105px 15px 0px 20px;
  background: url(../images/blue_chip.jpg) left top no-repeat;
  float: left;
  position: relative;
}
.blue_chip .top .desc {
  padding: 0 !important;
  margin: 0;
}
.blue_chip .top .header {
  position: absolute;
  height: 80px;
  width: 166px;
  left: 10px;
  top: 15px;
}
.blue_chip .top .header a {
  display: block;
  height: 100%;
  width: 100%;
}
.blue_chip .top .desc p {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  margin: 0 !important;
  padding: 0 !important;
  color: #403f3f !important;
  font-size: 12px;
  line-height: 15px !important;
}
.blue_chip .top .link {
  padding-bottom: 0;
  margin-bottom: 0;
}
.blue_chip p {
  margin-bottom: 0;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  color: #585858;
}
.blue_chip .top .link a {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #035a72;
  font-size: 11px;
}
.blue_chip .top .link a:hover {
  text-decoration: underline;
}
.blue_chip_numbers {
  margin: 0px;
  padding: 0px 5px 0px 10px;
  float: left;
  font-size: 30px;
}
.blue_chip p,
.blue_chipB p {
  font-size: 12px;
  line-height: 16px;
}
/*big*/
.blue_chipB {
  display: block;
  width: 186px;
  height: auto;
  margin: 0px;
  padding: 0px;
  float: left;
}
.blue_chipB a,
.blue_chipB a:hover {
  display: block;
  width: 146px;
  margin: 0px;
  padding: 303px 20px 0px 20px;
  background: url(../images/blue_chipB.jpg) left top no-repeat;
  text-decoration: none;
  float: left;
}
.blue_chipB a:hover {
  filter: alpha(opacity=60);
  -moz-opacity: .50;
  opacity: .50;
}
.blue_chipB a span {
  visibility: hidden;
  text-decoration: none;
}
.blue_chip_numbers {
  margin: 0px;
  padding: 0px 5px 0px 10px;
  float: left;
  font-size: 30px;
}
/* Story of the Month */
.story_month {
  display: block;
  width: 183px;
  height: auto;
  margin: 0px;
  padding: 0px;
  float: left;
}
.story_month .top {
  display: block;
  width: 152px;
  height: 90px;
  margin: 0px;
  margin-bottom: 6px;
  padding: 105px 15px 0px 20px;
  background: url(../images/story_month.jpg) left top no-repeat;
  float: left;
  position: relative;
}
.story_month .top .header {
  position: absolute;
  height: 80px;
  width: 166px;
  left: 10px;
  top: 15px;
}
.story_month .top .header a {
  display: block;
  height: 100%;
  width: 100%;
}
.story_month .top .desc {
  padding: 0 !important;
  margin: 0;
}
.story_month .top .desc p {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  margin: 0 !important;
  padding: 0 !important;
  color: #403f3f !important;
  font-size: 12px;
  line-height: 15px !important;
}
.story_month .top .link {
  padding-bottom: 0;
  margin-bottom: 0;
}
.story_month p {
  margin-bottom: 0;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  color: #585858;
}
.story_month .top .link a {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #035a72;
  font-size: 11px;
}
.story_month .top .link a:hover {
  text-decoration: underline;
}
.story_month_numbers {
  margin: 0px;
  padding: 0px 5px 0px 10px;
  float: left;
  font-size: 30px;
}
.story_month p,
.story_monthB p {
  font-size: 12px;
  line-height: 16px;
}
/*big*/
.story_monthB {
  display: block;
  width: 183px;
  height: auto;
  margin: 0px;
  padding: 0px;
  float: left;
}
.story_monthB a,
.story_monthB a:hover {
  display: block;
  width: 143px;
  margin: 0px;
  padding: 303px 20px 0px 20px;
  background: url(../images/story_monthB.jpg) left top no-repeat;
  text-decoration: none;
  float: left;
}
.story_monthB a:hover {
  filter: alpha(opacity=60);
  -moz-opacity: .50;
  opacity: .50;
}
.story_monthB a span {
  visibility: hidden;
  text-decoration: none;
}
.story_month_numbers {
  margin: 0px;
  padding: 0px 5px 0px 10px;
  float: left;
  font-size: 30px;
}
/* Home Bottom */
.about_equity {
  display: block;
  width: 350px;
  height: 130px;
  margin: 0px 12px 0px 0px;
  padding: 38px 0px 0px 10px;
  background: url(../images/about_equity.jpg) left top no-repeat;
  float: left;
}
.about_equity ul {
  width: 160px;
  float: left;
  margin: 0px 0px 0px 5px;
  padding: 0px 0px 0px 10px;
  font-size: 12px;
}
.about_equity ul li {
  margin: 0px 0px 5px 10px;
  padding: 0px 0px 5px 0px;
  *margin: 0px 0px 5px 5px;
  *padding: 0px 0px 5px 5px;
}
/*.download_report{display:block;width:175px;height:80px;margin:0px;padding:88px 0px 0px;background:url(../images/download_report.jpg) left top no-repeat;font-size:16px;font-family:Georgia, "Times New Roman", Times, serif;text-align:center;color:#03607A;float:right;}
.download_report a{text-decoration:none;color:#03607A;}.download_report a:hover{text-decoration:underline;color:#03607A;}*/
.download_report a,
.download_report a:hover {
  display: block;
  width: 175px;
  height: 80px;
  margin: 0px;
  padding: 88px 0px 0px;
  background: url(../images/download_report.jpg) left top no-repeat;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: #03607A;
  float: right;
}
.download_report a span {
  visibility: hidden;
  text-decoration: none;
}
.download_report a:hover {
  filter: alpha(opacity=60);
  -moz-opacity: .50;
  opacity: .50;
  text-decoration: none;
}
/* Footer */
.footer {
  display: block;
  margin: 0px 0px 0px;
  padding: 0px 0px 0px;
  width: 999px;
  height: 62px;
  float: left;
  clear: both;
  background: url(../images/bottom.jpg) center bottom no-repeat;
}
.footer_text,
.footer_links {
  display: block;
  margin: 0px;
  padding: 10px 51px 0px 33px;
  width: 903px;
  height: 30px;
  background: url(../images/footerBG.jpg) center top no-repeat;
  float: left;
  clear: both;
  text-align: right;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #02485B;
}
.footer_text a {
  text-decoration: underline;
  color: #02485B;
}
.footer a:hover {
  text-decoration: none;
  color: #02485B;
}
/* Bottom */
.bottom {
  display: block;
  margin: 0px;
  padding: 20px 0px;
  width: 999px;
  height: auto;
  color: #d6d2c3;
  float: left;
  clear: both;
}
.bottom_left,
.bottom_right {
  display: block;
  width: 499px;
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-size: 10px;
  float: left;
}
.bottom_left,
.bottom_righti {
  display: block;
  width: 499px;
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-size: 10px;
  float: left;
}
.bottom_left {
  padding-left: 40px;
  border-right: 1px solid #7f754b;
}
.bottom_right {
  float: left;
  padding-left: 20px;
  margin: 0;
  width: 400px;
  text-transform: uppercase;
}
.bottom_righti {
  float: left;
  padding-left: 20px;
  margin: 0;
  width: 400px;
}
.bottom_left p,
.bottom_right p {
  font-size: 10px;
  color: #d6d2c3;
  line-height: 14px;
}
.bottom_left p,
.bottom_righti p {
  font-size: 10px;
  color: #d6d2c3;
  line-height: 14px;
}
.bottom_right p {
  font-weight: bold;
}
.bottom_righti p {
  font-weight: normal;
}
.bottom a {
  text-transform: uppercase;
  color: #d6d2c3;
  font-size: 10px;
  text-decoration: none;
}
.bottom a:hover {
  color: #fff;
  text-decoration: underline;
}
/* Images */
.imgTop {
  margin: 0px 0px 10px;
  padding: 0px;
}
.imgBottom {
  margin: 10px 0px 0px;
  padding: 0px;
}
.imgLeft {
  margin: 0px 10px 10px 0px;
  padding: 0px;
  float: left;
}
.imgRight {
  margin: 0px 0px 10px 10px;
  padding: 0px;
  float: right;
}
/* Floats */
.fLeft {
  float: left;
}
.fRight {
  float: right;
}
/* Other */
ul {
  display: block;
  margin: 0px 0px 0px 15px;
  padding: 0px 0px 10px;
  color: #585858;
  list-style-type: disc;
  text-decoration: none;
  list-style-image: url(../images/list.png);
}
ol {
  display: block;
  margin: 0px 0px 0px 30px;
  padding: 0px 0px 10px;
  color: #585858;
  text-decoration: none;
}
li {
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 5px 0px;
  *margin: 0px 0px 5px 5px;
  *padding: 0px 0px 5px 10px;
}
a {
  color: #414042;
  text-decoration: none;
}
a:hover {
  color: #82A918;
  text-decoration: underline;
}
.a1 {
  color: #82A918;
  text-decoration: none;
}
.a1:hover {
  color: #414042;
  text-decoration: underline;
}
.right a {
  text-decoration: none;
  color: #4C5B1B;
}
.right a:hover {
  text-decoration: underline;
  color: #4C5B1B;
}
/* Feedback Scroller */
.feedback {
  display: block;
  width: 340px;
  height: 94px;
  margin: 0px;
  padding: 38px 14px 36px 6px;
  background: url(../images/feedback.jpg) left top no-repeat;
  float: left;
}
.feedback p {
  margin: 0px 0px 6px;
  padding: 0px;
  font-size: 14px;
  color: #0C82A2;
}
.feedback a {
  text-decoration: none;
  color: #0C82A2;
}
.feedback a:hover {
  text-decoration: underline;
  color: #0C82A2;
}
#pscroller1 {
  margin: 0px;
  padding: 0px;
  width: 340px;
  height: 90px;
}
/* .someclass{ class to apply to your scroller(s) if desired
} */
/* Contact Buttons
input.submit,input.submit2{background:url(../images/submit.jpg) 0px 0% no-repeat;width:122px;height:38px;border:none;cursor:pointer;}
input.submit2{background: url(../images/submit2.jpg) 0px 0% no-repeat;} */
/* PRINT LINK */
a.print:link,
a.print:visited,
a.print:hover {
  display: block;
  width: 73px;
  height: 22px;
  margin: 0px 10px 0px 0px;
  padding: 0px;
  background: url(../images/print.jpg) left top no-repeat;
  float: right;
}
a.print:hover {
  filter: alpha(opacity=60);
  -moz-opacity: .50;
  opacity: .50;
}
/* css written on 03-june-09 starts here */
.storymonth_banner {
  display: block;
  margin: 0px 0px 0px;
  padding: 0px 0px;
  width: 910px;
  height: 103px;
  background: url(../images/banner_reports.jpg) left top no-repeat;
  float: left;
  clear: both;
}
.bg_trending {
  background: url(../images/trendingB.jpg) no-repeat left top;
  width: 202px;
  height: 313px;
}
.paddingleft_none {
  padding: 10px 15px 0 0 !important;
  margin: 30px 0 0 0 !important;
}
.right_navbg {
  background: url(../images/right_navBG.gif) repeat-y !important;
}
.right_navbg img {
  vertical-align: bottom !important;
}
.btm_navi {
  background: url(../images/btm_navbar.gif) no-repeat bottom;
  height: 715px;
  width: 184px;
}
.right_nav {
  width: 184px;
  margin: 0;
  padding: 0;
}
.right_nav table {
  background: url(../images/nav_bartop.gif) repeat-x top;
  list-style: none;
  padding: 0;
  margin: 55px 0 0 4px;
  line-height: 24px;
}
.right_nav table.margin_nav {
  margin: 0px 0 0 4px;
}
.right_nav table td {
  background: url(../images/nav_bartop.gif) repeat-x bottom;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 24px;
  height: auto;
}
.right_nav table td {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  color: #585858;
  text-decoration: none;
  margin: 0;
  padding: 0 0 0 21px;
}
.right_nav table td:hover {
  display: block;
  padding: 0 0 0 21px;
  margin: 0;
  background: url(../images/nav_hover.gif) repeat-y;
  color: #585858;
  text-decoration: none;
  min-height: 24px;
  height: auto;
}
/*.right_nav table td a:active{
background:url(../images/navi_active.gif) no-repeat;
}*/
.story_leftcol {
  width: 706px;
  padding: 8px 0 0 20px;
}
.story_leftcol h1 {
  background: url(../images/heading_brdbtm.gif) no-repeat left bottom;
  color: #6ac2db;
  font-size: 25px;
  padding: 0 0 30px 0;
  width: 679px;
  text-transform: capitalize;
}
.box1_story h2 {
  background: url(../images/heading1_right.gif) no-repeat right bottom;
  display: block;
  padding: 8px 0 0 0;
  margin: 0;
}
.box1_story h2 span {
  background-color: #fff;
  border-left: 1px solid #c9dee4;
  border-right: 1px solid #c9dee4;
  border-top: 1px solid #c9dee4 !important;
  color: #5ab4cd;
  font-size: 16px;
  padding: 8px 12px 0 19px;
}
.box1_story h3 {
  color: #5ab4cd;
  font-size: 16px;
  margin: 0 0 2px 0;
}
.bg_box1 {
  background: url(../images/bg_box_middle1.gif) repeat-y;
  padding: 5px 16px 3px 19px;
}
.bg_box1 p {
  line-height: 14px;
}
.bg_box1 img {
  margin: 0 0 0 0px;
  padding: 0;
}
.img2_story {
  border: 1px solid #686b6b;
  padding: 0;
  margin: 26px 0 0 0px;
}
.box2_story h2 {
  background: url(../images/heading2_right.gif) no-repeat right bottom;
  display: block;
  padding: 8px 0 0 0;
  margin: 0;
}
.box2_story h2 span {
  background-color: #fff;
  border-left: 1px solid #c9dee4;
  border-right: 1px solid #c9dee4;
  border-top: 1px solid #c9dee4 !important;
  color: #5ab4cd;
  font-size: 16px;
  padding: 8px 12px 0 19px;
}
.bg_box2 {
  background: url(../images/bg_box_middle2.gif) repeat-y;
  padding: 5px 16px 3px 19px;
  font-size: 13px;
  line-height: 20px;
}
.bg_box2 p {
  line-height: 14px;
}
.bg_box2 td.slash_right {
  background: url(../images/slash_story.gif) no-repeat right;
}
.small_txt {
  font-size: 10px;
}
.box3_story h2 {
  background: url(../images/heading3_right.gif) no-repeat right bottom;
  display: block;
  padding: 8px 0 0 0;
  margin: 0;
}
.box3_story h2 span {
  background-color: #fff;
  border-left: 1px solid #c9dee4;
  border-right: 1px solid #c9dee4;
  border-top: 1px solid #c9dee4 !important;
  color: #5ab4cd;
  font-size: 16px;
  padding: 8px 12px 0 19px;
}
.bg_box3 {
  background: url(../images/bg_box_middle3.gif) repeat-y;
  padding: 5px 16px 42px 19px;
  font-size: 13px;
  line-height: 20px;
}
.bg_box3 p {
  line-height: 14px;
}
.box4_story h2 {
  background: url(../images/heading4_right.gif) no-repeat right bottom;
  display: block;
  padding: 8px 0 0 0;
  margin: 0;
}
.box4_story h2 span {
  background-color: #ebf3f5;
  border-left: 1px solid #c9dee4;
  border-right: 1px solid #c9dee4;
  border-top: 1px solid #c9dee4 !important;
  color: #5ab4cd;
  font-size: 16px;
  padding: 8px 12px 0 19px;
}
.bg_box4 {
  background: url(../images/bg_box_middle4.gif) repeat-y;
  padding: 5px 16px 42px 19px;
  font-size: 13px;
  line-height: 20px;
}
.bg_box4 p {
  line-height: 14px;
}
.box5_story h2 {
  background: url(../images/heading4_right.gif) no-repeat right bottom;
  display: block;
  padding: 8px 0 0 0;
  margin: 0;
}
.box5_story h2 span {
  background-color: #edeadd;
  border-left: 1px solid #c9dee4;
  border-right: 1px solid #c9dee4;
  border-top: 1px solid #c9dee4 !important;
  color: #8e7f60;
  font-size: 16px;
  padding: 8px 12px 0 19px;
}
.bg_box5 {
  background: url(../images/bg_box_middle5.gif) repeat-y;
  padding: 5px 16px 42px 19px;
  font-size: 13px;
  line-height: 20px;
}
.bg_box5 p {
  line-height: 14px;
}
.box6_story h2 {
  background: url(../images/heading4_right.gif) no-repeat right bottom;
  display: block;
  padding: 8px 0 0 0;
  margin: 0;
}
.box6_story h2 span {
  background-color: #e9fbf8;
  border-left: 1px solid #c9dee4;
  border-right: 1px solid #c9dee4;
  border-top: 1px solid #c9dee4 !important;
  color: #129884;
  font-size: 16px;
  padding: 8px 12px 0 19px;
}
.bg_box6 {
  background: url(../images/bg_box_middle6.gif) repeat-y;
  padding: 5px 16px 42px 19px;
  font-size: 13px;
  line-height: 20px;
}
.bg_box6 p {
  line-height: 14px;
}
.brown_txt {
  color: #8e7f60 !important;
}
.margin_btm {
  margin-bottom: 10px !important;
}
.trending_leftcol {
  width: 706px;
  padding: 8px 0 0 0px;
}
.trending_leftcol h1 {
  background: url(../images/heading_brdbtm.gif) no-repeat left bottom;
  color: #6ac2db;
  font-size: 31px;
  padding: 0 0 30px 0;
  width: 679px;
  text-transform: capitalize;
}
.trending_leftcol table.inner1_trending {
  padding: 0;
  margin: 8px 0;
  line-height: 15px;
}
.trending_leftcol table.inner1_trending p {
  line-height: 15px;
}
.trending_leftcol table.inner2_trending td {
  background: url(../images/bgtrending_inner2.gif) repeat-x;
  padding: 0;
}
.trending_leftcol table.inner2_trending td.bginner2_trending {
  background: url(../images/bgdarktrending_inner2.gif) repeat-x;
  padding: 0;
}
.trending_leftcol table.inner3_trending td {
  border-bottom: 1px solid #f2efe6;
}
.trending_leftcol table.inner3_trending td.no_brd {
  border-bottom: 0;
}
.trending_leftcol table.inner4_trending td {
  background-color: #b0ffbb;
  border-bottom: 1px solid #f2efe6;
}
.trending_leftcol table.inner4_trending td.bggreen_trending {
  background: #14c021 url(../images/bg_green_trend.gif) top left repeat-x;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  vertical-align: middle;
}
.trending_leftcol table.inner4_trending td.bggreen_trending img {
  float: none;
  position: relative;
  top: 4px;
}
.trending_leftcol table.inner5_trending td.bggreen_trending img {
  float: none;
  position: relative;
  top: 10px;
}
.trending_leftcol table.inner5_trending td {
  background-color: #ffc6b0;
  border-bottom: 1px solid #f2efe6;
}
.trending_leftcol table.inner5_trending td.bggreen_trending {
  background: #f65426 url(../images/bg_red_trend.gif) top left repeat-x;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  vertical-align: middle;
}
.bggeneric_trending {
  font-size: 14px;
  background: #f2efe6 url(../images/bg_brown_trend.gif) top left repeat-x;
  line-height: 30px;
  vertical-align: middle;
}
.tab_bg {
  background: url(../images/bg_toptrending.gif) repeat-x bottom #edeadd;
  height: 33px;
}
#tab {
  width: 706px;
  height: 33px;
  margin: 0px 0 0 9px;
  float: left;
}
#tab a {
  height: 33px;
  cursor: pointer;
  vertical-align: middle;
  /*opera*/
  display: inline-block;
  /*ie*/
  background: url(../images/tab_left.gif) repeat top left;
  display: block;
  float: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  line-height: 33px;
  padding: 0 10px 0 10px;
  text-decoration: none;
  margin: 0px 0px 0 4px;
}
#tab a span {
  display: block;
  display: inline-block;
  background: url(../images/tab_right.gif) no-repeat top right;
  padding: 0 0px 0 0px;
  margin: 0 0px;
}
#tab a:hover,
#tab .select_tab {
  background-position: bottom left;
  color: #d98032;
}
#tab a:hover span,
#tab .select_tab span {
  background-position: bottom right;
}
#tab a.help_tab {
  display: block;
  width: 50px;
  font-size: 15px;
  padding: 0 0 0 0;
}
#tab a.help_tab span {
  display: block;
  width: 50px;
  padding: 0 20px 0 20px;
}
.brd_right {
  border-right: 1px solid #cee2e9;
}
.big_txt {
  font-size: 30px;
  line-height: 24px;
}
table.datatable,
.datatable {
  border: 1px solid #ccc;
  border-width: 1px 0 0 1px;
}
table.datatable,
.datatable td {
  border: 1px solid #ccc;
  border-width: 0px 1px 1px 0px;
}
table.datatable,
.datatable th {
  border: 1px solid #ccc;
  background-color: #eee;
  border-width: 0px 1px 1px 0px;
}
.big_txt1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  color: #666666;
}
.big_txt2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
  color: #666666;
  padding: 0 0 10px 0;
  display: block;
}
.big_txt3 img {
  position: relative;
  top: -3px;
}
.brown_txt2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  color: #666666;
  font-weight: bold;
}
.white_txt {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
.brown_txt3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666666;
  font-weight: bold;
}
.bg_box7 {
  background: url(../images/img_growth.jpg) no-repeat;
  padding: 5px 0 0px 14px;
  height: 96px;
}
.bg_box8 {
  background: url(../images/img1_story.jpg) no-repeat;
  padding: 5px 0 0px 14px;
  height: 96px;
}
.bg_box9 {
  background: url(../images/img_commodity.jpg) no-repeat;
  padding: 5px 0 0px 14px;
  height: 96px;
}
.pnlError,
.pnlSuccess {
  padding: 5px 5px 5px 5px;
  position: absolute;
  top: 400px;
  color: White;
  font-weight: bold;
  width: 200px;
  min-height: 40px;
  border: 1px outset #F6F6F;
}
.pnlError {
  background: Red;
}
.pnlSuccess {
  background: Green;
}
.pnlError a,
.pnlSuccess a {
  color: Yellow;
  text-align: center;
}
.rptImage {
  max-width: 360px;
  max-height: 280px;
}
.hide {
  visibility: hidden;
  display: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
/* for IE/Mac */
.clearfix {
  zoom: 1\9;
  /* triggers hasLayout */
  display: block\9;
  /* resets display for IE/Win */
}
/* Only IE can see inside the conditional comment
    and read this CSS rule. Don't ever use a normal HTML
    comment inside the CC or it will close prematurely. */
#trial-box {
  width: 806px;
  padding: 0px 50px 10px 30px;
}
#trial-box h3 {
  font-size: 22px;
  color: white;
  text-align: center;
  font-weight: normal;
  margin-bottom: 30px;
}
#trial-box input {
  width: 250px;
  height: 30px;
  background-color: white;
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
}
#trial-box #trialEmail {
  margin-left: 50px;
}
#trial-box .trial-button {
  background-color: #00394b;
  width: 150px;
  height: 50px;
  border: none;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#trial-box #agreeCheck {
  width: 20px;
  padding: 0px;
  margin: 0px;
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}
#trial-box label {
  color: #00394b;
  height: 50px;
  line-height: 50px;
  margin-left: 50px;
}
#trial-box label a {
  color: #00394b;
  text-decoration: underline;
}
/* homepage styles */
#offer-box,
#trailer-box {
  width: 906px;
  background-color: #d46b07;
  margin-top: 10px;
  margin-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 270px;
  position: relative;
  /*padding:30px 50px 10px 50px;*/
}
#trailer-box {
  background-color: #fff;
  border: 5px solid #d5e4eb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  width: 896px;
}
#offer-header {
  width: 906px;
  height: 65px;
  background-image: url('/img/offer-header.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
}
#offer-header h3 {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  line-height: 65px;
}
#offer-steps {
  background-image: url('/img/offer-steps.png');
  width: 550px;
  height: 220px;
  position: absolute;
  top: 35px;
  left: 20px;
  background-repeat: no-repeat;
  background-position: top left;
}
#offer-steps ul {
  padding-top: 140px;
  list-style: none;
  font-weight: normal;
  color: white;
}
#offer-steps li {
  float: left;
  width: 140px;
  margin-right: 15px;
  font-size: 12px;
}
#offer-steps li.last-step {
  width: 180px;
}
#offer-box #tour-video {
  background-image: url('/img/offer-video.png');
  background-repeat: no-repeat;
  width: 408px;
  height: 80px;
  padding-top: 120px;
  color: white;
  position: absolute;
  top: 35px;
  right: 0px;
}
#offer-box #youtube {
  position: absolute;
  top: 0px;
  right: 67px;
}
#offer-box #tour-video p {
  color: white;
  text-align: center;
  padding: 20px 40px 0 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
}
#offer-join-now {
  width: 906px;
  height: 240px;
  position: relative;
  margin-top: 10px;
}
#offer-join-now ul {
  list-style-image: url(img/offer-tick.png);
  position: absolute;
  top: 20px;
  left: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#offer-join-now li {
  font-size: 18px;
  padding-left: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #004a62;
  margin-bottom: 20px;
}
#offer-price,
#regular-price {
  position: absolute;
  top: 15px;
  left: 525px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #004a62;
  font-size: 18px;
}
#regular-price {
  opacity: .25;
  left: 700px;
}
#offer-price span,
#regular-price span {
  display: block;
  padding-top: 15px;
  font-size: 42px;
  font-weight: bold;
}
#regular-price span {
  font-weight: normal;
  text-decoration: line-through;
}
#join-equity-story,
#join-equity-story-shadow,
#join-equity-story-trial,
join-equity-story-trial-shadow {
  position: absolute;
  top: 90px;
  left: 525px;
  width: 300px;
  height: 70px;
  background-color: #da7b00;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  text-align: center;
  line-height: 70px;
  font-size: 22px;
  z-index: 9;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#join-equity-story:hover {
  top: 96px;
}
#join-equity-story-shadow {
  top: 96px;
  opacity: .5;
  z-index: 8;
}
#join-equity-story-trial {
  top: 180px;
  height: 30px;
  border: 1px solid #004a62;
  color: #004a62;
  background-color: white;
  line-height: 30px;
  font-size: 14px;
  width: 220px;
  left: 525px;
}
#join-equity-story-trial:hover {
  background-color: #004a62;
  color: white;
}
#offer-seperator {
  background-image: url('img/offer-hr.png');
  width: 906px;
  height: 30px;
  background-position: center top;
  background-repeat: no-repeat;
}
#offer-trending,
#offer-fund {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 400px;
  height: 180px;
  /*border:1px solid red;*/
}
#offer-fund {
  left: 470px;
}
#offer-trending em,
#offer-fund em {
  background-image: url('img/offer-trending.png');
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 180px;
  background-size: 80px auto;
  background-position: center center;
  background-repeat: no-repeat;
}
#offer-fund em {
  background-image: url('img/offer-fund.png');
}
#offer-trending h3,
#offer-fund h3 {
  color: #fff;
  margin-left: 120px;
  padding-left: 60px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-image: url('img/orange-tick.png');
  background-size: 48px auto;
  background-repeat: no-repeat;
  line-height: 24px;
  margin-top: 10px;
}
#offer-trending p,
#offer-fund p {
  color: #fff;
  margin-left: 120px;
  margin-top: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
}
#offer-splitter {
  position: absolute;
  top: 20px;
  left: 455px;
  width: 1px;
  background-color: white;
  height: 228px;
}
#trailer-box {
  cursor: pointer;
}
#trailer-box p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  line-height: 28px;
  position: absolute;
  top: 20px;
  left: 380px;
  color: #004a62;
}
#trailer-box em {
  font-style: normal;
  border-bottom: 1px solid #004a62;
}
#trailer-box span {
  position: absolute;
  top: 18px;
  left: 210px;
  width: 134px;
  height: 59px;
  background-image: url('images/trailer-thumb.png');
}
#trailer-box:hover {
  background-color: #d5e4eb;
}
#video-tour-box {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -320px;
}
/*Tables*/
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
/* End of Tables */
/* Grid */
/* Computer */
.grid_1 {
  width: 6.5%;
}
.grid_2 {
  width: 15%;
}
.grid_3 {
  width: 23.5%;
}
.grid_4 {
  width: 32%;
}
.grid_5 {
  width: 40.5%;
}
.grid_6 {
  width: 49%;
}
.grid_7 {
  width: 57.5%;
}
.grid_8 {
  width: 66%;
}
.grid_9 {
  width: 74.5%;
}
.grid_10 {
  width: 83%;
}
.grid_11 {
  width: 91.5%;
}
.grid_12 {
  width: 100%;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin: 0 2% 1% 0;
  float: left;
  display: block;
}
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
/*.container{
	width: 90%; width: 1000px;
	max-width: 1000px;
	margin: auto;
	
}*/
.clearfix {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
* html .clearfix,
*:first-child + html .clearfix {
  zoom: 1;
}
/* Mobile */
@media screen and (max-width: 480px) {
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    width: 100%;
  }
}
/* end of grid */
/*   BUTTONS BAR   */
#buttons {
  display: block;
  width: 900px;
  height: 38px;
  margin: 0px 0 0 33px;
  padding: 0px 0px 0px 8px;
  background: url(../images/buttons_bg.jpg) repeat-x center bottom;
  clear: both;
}
#buttons ul {
  display: inline;
  height: 38px;
  margin: 0px;
  padding: 0px;
  float: left;
}
#buttons ul li {
  display: inline;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  float: left;
}
#buttons ul li a span,
#buttons a span {
  visibility: visible;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  background: none;
  text-transform: uppercase;
  display: block;
  padding-top: 12px;
}
#buttons ul li.current_page_item a span,
#buttons ul li.current_page_item a:hover span {
  padding-top: 11px;
}
#buttons ul li a,
#buttons ul li a:hover,
#buttons ul li.current_page_item a,
#buttons ul li.current_page_item a:hover {
  display: block;
  height: 38px;
  text-decoration: none;
  text-align: center;
  color: #035A72;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px 2px;
  padding: 0 15px 0px;
  float: left;
  border-bottom: #a3c9d3;
}
#buttons ul li.bsp a.b1,
#buttons ul li.bsp a.b1:hover,
#buttons ul li.current_page_item a,
#buttons ul li.current_page_item a:hover {
  color: #d56908;
}
#buttons ul li a:hover {
  background: url(../images/button_hover_bg.jpg) repeat-x center bottom;
}
#buttons ul li.current_page_item a,
#buttons ul li.current_page_item a:hover {
  border: 1px solid #a3c9d3;
  border-bottom: #fff;
  background: #fff;
}
/*   SUB BUTTONS BAR   */
#sub_buttons {
  width: 917px;
  height: 33px;
  padding: 0px 0 0 13px;
  margin: 11px 0 0 0;
  float: left;
}
#sub_buttons ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  background: none;
}
#sub_buttons ul li {
  height: 33px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  float: left;
  list-style: none;
  background: none;
}
#sub_buttons ul li a span,
#sub_buttons a span {
  visibility: visible;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  background: none;
}
#sub_buttons ul li.s1 a,
#sub_buttons ul li.s1 a:hover,
#sub_buttons ul li.s1.current-menu-item a,
#sub_buttons ul li.s1.current-menu-item a:hover,
#sub_buttons ul li.s2 a,
#sub_buttons ul li.s2 a:hover,
#sub_buttons ul li.s2.current-menu-item a,
#sub_buttons ul li.s2.current-menu-item a:hover,
#sub_buttons ul li.s3 a,
#sub_buttons ul li.s3 a:hover,
#sub_buttons ul li.s3.current-menu-item a,
#sub_buttons ul li.s3.current-menu-item a:hover,
#sub_buttons ul li.s4 a,
#sub_buttons ul li.s4 a:hover,
#sub_buttons ul li.s4.current-menu-item a,
#sub_buttons ul li.s4.current-menu-item a:hover,
#sub_buttons ul li.s5 a,
#sub_buttons ul li.s5 a:hover,
#sub_buttons ul li.s5.current-menu-item a,
#sub_buttons ul li.s5.current-menu-item a:hover {
  width: 174px;
  height: 25px;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px 4px 0 0;
  padding: 8px 0 0 0;
  display: block;
  float: left;
}
#sub_buttons ul li.s1 a {
  background: url(../images/cBtn1.jpg) left top no-repeat;
}
#sub_buttons ul li.s2 a {
  background: url(../images/cBtn2.jpg) left top no-repeat;
}
#sub_buttons ul li.s3 a {
  background: url(../images/cBtn3.jpg) left top no-repeat;
}
#sub_buttons ul li.s4 a {
  background: url(../images/cBtn4.jpg) left top no-repeat;
}
#sub_buttons ul li.s5 a {
  background: url(../images/cBtn5.jpg) left top no-repeat;
}
#sub_buttons ul li.s1 a:hover,
#sub_buttons ul li.s1.current-menu-item a,
#sub_buttons ul li.s1.current-menu-item a:hover {
  background: url(../images/cBtn1.current-menu-item.jpg) center top no-repeat;
}
#sub_buttons ul li.s2 a:hover,
#sub_buttons ul li.s2.current-menu-item a,
#sub_buttons ul li.s2.current-menu-item a:hover {
  background: url(../images/cBtn2.current-menu-item.jpg) center top no-repeat;
}
#sub_buttons ul li.s3 a:hover,
#sub_buttons ul li.s3.current-menu-item a,
#sub_buttons ul li.s3.current-menu-item a:hover {
  background: url(../images/cBtn3.current-menu-item.jpg) center top no-repeat;
}
#sub_buttons ul li.s4 a:hover,
#sub_buttons ul li.s4.current-menu-item a,
#sub_buttons ul li.s4.current-menu-item a:hover {
  background: url(../images/cBtn4.current-menu-item.jpg) center top no-repeat;
}
#sub_buttons ul li.s5 a:hover,
#sub_buttons ul li.s5.current-menu-item a,
#sub_buttons ul li.s5.current-menu-item a:hover {
  background: url(../images/cBtn5.current-menu-item.jpg) center top no-repeat;
}
#sub_buttons1 {
  width: 917px;
  height: 33px;
  padding: 0px 0 0 13px;
  margin: 11px 0 0 0;
  float: left;
}
#sub_buttons1 ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  background: none;
}
#sub_buttons1 ul li {
  height: 33px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  float: left;
  list-style: none;
  background: none;
}
#sub_buttons1 ul li a span,
#sub_buttons1 a span {
  visibility: visible;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  background: none;
}
#sub_buttons1 ul li.s1 a,
#sub_buttons1 ul li.s1 a:hover,
#sub_buttons1 ul li.s1.current-menu-item a,
#sub_buttons1 ul li.s1.current-menu-item a:hover,
#sub_buttons1 ul li.s2 a,
#sub_buttons1 ul li.s2 a:hover,
#sub_buttons1 ul li.s2.current-menu-item a,
#sub_buttons1 ul li.s2.current-menu-item a:hover,
#sub_buttons1 ul li.s3 a,
#sub_buttons1 ul li.s3 a:hover,
#sub_buttons1 ul li.s3.current-menu-item a,
#sub_buttons1 ul li.s3.current-menu-item a:hover,
#sub_buttons1 ul li.s4 a,
#sub_buttons1 ul li.s4 a:hover,
#sub_buttons1 ul li.s4.current-menu-item a,
#sub_buttons1 ul li.s4.current-menu-item a:hover,
#sub_buttons1 ul li.s5 a,
#sub_buttons1 ul li.s5 a:hover,
#sub_buttons1 ul li.s5.current-menu-item a,
#sub_buttons1 ul li.s5.current-menu-item a:hover {
  width: 174px;
  height: 25px;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px 4px 0 0;
  padding: 8px 0 0 0;
  display: block;
  float: left;
}
#sub_buttons1 ul li.s1 a {
  background: url(../images/cBtn1.jpg) left top no-repeat;
}
#sub_buttons1 ul li.s2 a {
  background: url(../images/cBtn2.jpg) left top no-repeat;
}
#sub_buttons1 ul li.s3 a {
  background: url(../images/cBtn3.jpg) left top no-repeat;
}
#sub_buttons1 ul li.s4 a {
  background: url(../images/cBtn4.jpg) left top no-repeat;
}
#sub_buttons1 ul li.s5 a {
  background: url(../images/cBtn5.jpg) left top no-repeat;
}
#sub_buttons1 ul li.s1 a:hover,
#sub_buttons1 ul li.s1.current-menu-item a,
#sub_buttons1 ul li.s1.current-menu-item a:hover {
  background: url(../images/cBtn1R.jpg) center top no-repeat;
}
#sub_buttons1 ul li.s2 a:hover,
#sub_buttons1 ul li.s2.current-menu-item a,
#sub_buttons1 ul li.s2.current-menu-item a:hover {
  background: url(../images/cBtn2R.jpg) center top no-repeat;
}
#sub_buttons1 ul li.s3 a:hover,
#sub_buttons1 ul li.s3.current-menu-item a,
#sub_buttons1 ul li.s3.current-menu-item a:hover {
  background: url(../images/cBtn3R.jpg) center top no-repeat;
}
#sub_buttons1 ul li.s4 a:hover,
#sub_buttons1 ul li.s4.current-menu-item a,
#sub_buttons1 ul li.s4.current-menu-item a:hover {
  background: url(../images/cBtn4R.jpg) center top no-repeat;
}
#sub_buttons1 ul li.s5 a:hover,
#sub_buttons1 ul li.s5.current-menu-item a,
#sub_buttons1 ul li.s5.current-menu-item a:hover {
  background: url(../images/cBtn5R.jpg) center top no-repeat;
}
body#reports #sub_buttons {
  height: 38px;
}
body#reports #sub_buttons ul li.s1.current-menu-item a,
body#reports #sub_buttons ul li.s1.current-menu-item a:hover {
  height: 30px;
  background: url(../images/cBtn1.current-menu-item_1.jpg) center top no-repeat;
}
body#reports #sub_buttons ul li.s2.current-menu-item a,
body#reports #sub_buttons ul li.s2.current-menu-item a:hover {
  height: 30px;
  background: url(../images/cBtn2.current-menu-item_2.jpg) center top no-repeat;
}
body#reports #sub_buttons ul li.s3.current-menu-item a,
body#reports #sub_buttons ul li.s3.current-menu-item a:hover {
  height: 30px;
  background: url(../images/cBtn3.current-menu-item_3.jpg) center top no-repeat;
}
body#reports #sub_buttons ul li.s4.current-menu-item a,
body#reports #sub_buttons ul li.s4.current-menu-item a:hover {
  height: 30px;
  background: url(../images/cBtn4.current-menu-item_4.jpg) center top no-repeat;
}
body#reports #sub_buttons ul li.s5.current-menu-item a,
body#reports #sub_buttons ul li.s5.current-menu-item a:hover {
  height: 30px;
  background: url(../images/cBtn5.current-menu-item_5.jpg) center top no-repeat;
}
/* DEFAULT
body{font-family:verdana;font-size:11px;color:#666666;margin:5px;background:#ffffff}
td{font-family:verdana;font-size:11px;color:#666666}
a:link{color:#777777}
a:visited{color:#777777}
a:hover{color:#111111}
li{line-height:19px}
.highlight{color:Red} */
/*  TEXT STYLES  */
p,
.p,
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin: 0px 0px 10px 0px;
  font-weight: normal;
}
p,
.p {
  font-size: 13px;
  line-height: 18px;
  color: #414042;
}
h1,
.h1 {
  font-size: 15px;
  line-height: 20px;
  color: #035A72;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  background: url(../images/headingBG.jpg) top left no-repeat;
  height: 21px;
  padding: 0px 0px 0px 10px;
  clear: both;
}
h2,
.h2 {
  font-size: 14px;
  line-height: 19px;
  color: #414042;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
h3,
.h3 {
  font-size: 13px;
  line-height: 18px;
  color: #035A72;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
div,
.div,
table,
th,
tr,
td {
  color: #454545;
}
.blue {
  color: #035A72;
}
.blue2 {
  color: #0C82A2;
}
.green {
  color: #03607A;
}
.grey {
  color: #585858;
}
.lgrey {
  color: #CCCCCC;
}
.white {
  color: #FFFFFF;
}
table.h1 {
  margin: 5px, 0px, 5px 0px ;
}
.p8 {
  font-size: 8px;
}
.p9 {
  font-size: 9px;
}
.p10 {
  font-size: 10px;
}
.p11 {
  font-size: 12px;
}
.p12 {
  font-size: 12px;
}
.p13 {
  font-size: 13px;
}
.p14 {
  font-size: 14px;
}
.p15 {
  font-size: 15px;
}
.p16 {
  font-size: 16px;
}
.p17 {
  font-size: 17px;
}
.p18 {
  font-size: 18px;
}
.p19 {
  font-size: 19px;
}
.p20 {
  font-size: 20px;
}
.p21 {
  font-size: 21px;
}
.p22 {
  font-size: 22px;
}
.p23 {
  font-size: 23px;
}
.p24 {
  font-size: 24px;
}
.p25 {
  font-size: 25px;
}
.p26 {
  font-size: 26px;
}
.p27 {
  font-size: 27px;
}
.p28 {
  font-size: 28px;
}
.p29 {
  font-size: 13px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#loginSubmit {
  background: url('../images/login.jpg') no-repeat;
  height: 22px;
  width: 69px;
  border: 0px;
  border-width: 0px;
  text-indent: -9999px;
  cursor: pointer;
}
.column-content {
  border: 1px solid #ccc;
}
.column-content .h {
  background-color: #eee;
  margin: 0;
  width: 50%;
}
.column-content .h h3 {
  display: block;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}
.column-content .border-r-b {
  margin: 0;
  width: 50%;
}
.column-content .border-r-b .box {
  border: 1px solid #ccc;
  /*border-bottom: 1px solid #ccc;*/
  padding: 15px;
}
li.gfield_error input,
li.gfield_error textarea {
  background: #fddddd url(../images/icon-cross-form.png) right center no-repeat;
  border: 1px solid #ce8585!important;
}
.validation_error,
.validation_message {
  display: none;
}
.acf-map {
  width: 100%;
  height: 500px;
  border: #ccc solid 1px;
  margin: 20px 0;
}
* {
  outline: none;
}
p {
  margin-bottom: 22px;
}
img {
  max-width: 100%;
  height: auto;
}
.column-content {
  border: 1px solid #ccc;
}
.column-content .h {
  background-color: #eee;
  margin: 0;
  width: 50%;
}
.column-content .h h3 {
  display: block;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}
.column-content .border-r-b {
  margin: 0;
  background: #fff;
  width: 100%;
}
.column-content .border-r-b .box {
  border: 1px solid #ccc;
  /*border-bottom: 1px solid #ccc;*/
  padding: 15px;
}
.client_login {
  display: none;
  height: auto;
}
.client_login span.p12 {
  float: left;
  padding-top: 7px;
}
.banner_text {
  /*
	display: none;*/
}
.banner_text p {
  padding: 35px 40px 0px 0px;
}
.mobile {
  display: none;
}
#loginform {
  margin-top: -10px;
}
#loginform input {
  display: block;
  width: 103px;
  height: 18px;
  font-size: 11px;
  margin: 0px 5px;
  padding: 2px 0px 0px;
  padding: 5px 0px 0px\9;
  background: #fff;
  border: none;
  float: left;
  padding: 3px;
  border-radius: 3px;
}
#loginform .login-remember {
  display: none;
}
#loginform input#wp-submit {
  background: url('../images/login.jpg') no-repeat;
  height: 22px;
  width: 69px;
  border: 0px;
  border-width: 0px;
  text-indent: -9999px;
  cursor: pointer;
}
.trending-content-list {
  position: relative;
  margin-top: 88px;
  background: #edeadd;
  /*----- Tabs -----*/
  /*----- Tab Links -----*/
  /* Clearfix */
  /*----- Content of Tabs -----*/
}
.trending-content-list .tabs {
  width: 100%;
  display: inline-block;
}
.trending-content-list .tab-links:after {
  display: block;
  clear: both;
  content: '';
}
.trending-content-list .tab-links {
  padding: 0;
  position: relative;
  z-index: 2;
  margin-bottom: -5px;
}
.trending-content-list .tab-links li {
  margin: 0px 1px;
  padding: 0;
  float: left;
  list-style: none;
}
.trending-content-list .tab-links li:first-child {
  margin-left: 15px;
}
.trending-content-list .tab-links a {
  background: url(../images/strip-trending-bg.jpg) repeat-x top left;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  display: block;
  float: left;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  line-height: 33px;
  padding: 0 10px 0 10px;
  text-decoration: none;
  margin: 0px 0px 0 4px;
}
.trending-content-list .tab-links a:hover {
  text-decoration: none;
  background: #fff none;
  color: #d98032;
}
.trending-content-list li.active a,
.trending-content-list li.active a:hover {
  background: #fff;
  color: #d98032;
}
.trending-content-list .tab-border {
  width: 750px;
  border-top: 5px solid #cfcab8;
  border-right: 5px solid #cfcab8;
  background: url(../images/strip-square.jpg) repeat top left;
}
.trending-content-list .tab-border .asx .content-tables,
.trending-content-list .tab-border .smlmed .content-tables {
  text-align: center;
}
.trending-content-list .tab-border .asx .content-tables .status.active,
.trending-content-list .tab-border .smlmed .content-tables .status.active {
  background-color: #b0ffbb;
}
.trending-content-list .tab-border .asx .content-tables status.none,
.trending-content-list .tab-border .smlmed .content-tables status.none {
  background-color: #ffd9d9;
}
.trending-content-list .tab-border .asx .content-tables span,
.trending-content-list .tab-border .smlmed .content-tables span {
  width: 18px;
  height: 18px;
  display: block;
  margin: 0 auto;
}
.trending-content-list .tab-border .asx .content-tables span.yes,
.trending-content-list .tab-border .smlmed .content-tables span.yes {
  background: url(../images/trending_yes.png) no-repeat center;
}
.trending-content-list .tab-border .asx .content-tables span.no,
.trending-content-list .tab-border .smlmed .content-tables span.no {
  background: url(../images/trending_no.png) no-repeat center;
}
.trending-content-list .tab-content {
  padding: 15px;
  background: #fff;
}
.trending-content-list .tab {
  display: none;
}
.trending-content-list .tab.active {
  display: block;
}
.mobile-hero h3 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: 100;
}
.mobile-hero .gform_wrapper {
  padding: 10px 20px 30px 20px;
  width: 351px;
  height: auto;
  margin: 20px auto 0 auto;
}
.mobile-hero .gform_wrapper .gform_title {
  display: none;
}
.mobile-hero .gform_wrapper ul {
  margin-left: 0;
}
.mobile-hero .gform_wrapper ul li {
  list-style-image: none;
}
.mobile-hero .gform_wrapper ul li input,
.mobile-hero .gform_wrapper ul li textarea,
.mobile-hero .gform_wrapper ul li select {
  padding: 10px 10px;
  width: 93%;
  border: 0;
  border-radius: 3px;
}
.mobile-hero .gform_wrapper input[type=submit] {
  background: #57aef1;
  border: 0;
  color: #fff;
  width: 100%;
  padding: 10px 10px;
  border-radius: 3px;
}
.flexi-column-right .gform_wrapper {
  background: url(../images/joinNow_subscribe.jpg) no-repeat top left;
  padding: 60px 20px 30px 20px;
  width: 351px;
  height: 545px;
  margin: 20px auto 0 auto;
}
.flexi-column-right .gform_wrapper .gform_title {
  display: none;
}
.flexi-column-right .gform_wrapper ul {
  margin-left: 0;
}
.flexi-column-right .gform_wrapper ul li {
  list-style-image: none;
}
.flexi-column-right .gform_wrapper ul li input,
.flexi-column-right .gform_wrapper ul li textarea,
.flexi-column-right .gform_wrapper ul li select {
  padding: 5px 10px;
}
.story_leftcol {
  margin-top: 100px;
}
.story_leftcol .box1_story h2 {
  width: 333px;
}
.story_leftcol .box1_story h3 {
  margin-bottom: 22px;
}
.story_leftcol .bg_box1 {
  padding: 32px 19px 3px 19px;
  width: 295px;
  background-size: 100%;
}
.story_leftcol .bg_box1 .s_right {
  padding-right: 20px;
}
.story_leftcol .bg_box1 .s_right strong {
  color: #008080;
}
.story_leftcol .bg_box1 .s_right .bg_box8 {
  height: auto;
}
.story_leftcol .bg_box2 {
  background-size: 100% !important;
}
.story_leftcol .bg_box1.bottm {
  width: 308px;
}
.story_leftcol .borderbottom {
  height: 10px;
  display: block;
  background: url(../images/box_btm1.gif) no-repeat left top;
}
.story_leftcol .borderbottom2 {
  height: 10px;
  display: block;
  background: url(../images/box_btm2.gif) no-repeat left top;
  background-size: 100%;
}
.story_leftcol .borderbottom.last {
  background-size: 100%;
}
.popmake-content > div {
  width: 100% !important;
}
.popmake-content > div > div {
  width: 100% !important;
}
#trial-box .gform_wrapper ul {
  padding: 0;
}
#trial-box .gform_wrapper ul li {
  list-style-image: none;
  display: inline-block;
  float: left;
}
#trial-box .gform_wrapper .gform_button {
  background-color: #00394b;
  width: 150px;
  height: 50px;
  border: none;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.mobile-menu {
  display: none;
}
.featured-column .top .header a {
  background-size: 0;
}
.head-pos {
  padding-top: 14px;
  color: #fff;
}
#popmake-640 {
  /*background: url(../images/hero-strip.png) repeat top left;*/
}
/* General styles for all menus */
.cbp-spmenu {
  background: #231f20;
  position: fixed;
}
.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}
.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}
/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 9999999999999999999;
}
.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}
.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}
.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}
/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
  left: -240px;
}
.cbp-spmenu-right {
  right: -240px;
}
.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}
/* Horizontal menu that slides from the top or bottom */
.cbp-spmenu-top {
  top: -150px;
}
.cbp-spmenu-bottom {
  bottom: -150px;
}
.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}
.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}
/* Push classes applied to the body */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}
.cbp-spmenu-push-toright {
  left: 240px;
}
.cbp-spmenu-push-toleft {
  left: -240px;
}
/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* Example media queries */
@media screen and (max-width: 55.1875em) {
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }
  .cbp-spmenu-top {
    top: -110px;
  }
  .cbp-spmenu-bottom {
    bottom: -110px;
  }
}
@media screen and (max-height: 26.375em) {
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }
  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }
  .cbp-spmenu-right {
    right: -190px;
  }
  .cbp-spmenu-push-toright {
    left: 190px;
  }
}
nav.cbp-spmenu ul.nav {
  margin-bottom: 30px;
}
nav.cbp-spmenu ul.nav li {
  float: none !important;
}
nav.cbp-spmenu ul.nav li a {
  font-family: $exo2;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
}
nav.cbp-spmenu span a {
  background: $lblue;
  font-size: 17px;
  font-weight: 700;
  font-family: "Exo 2", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
  margin: 0 auto;
  display: inline-block;
  margin-left: 17px;
}
.mobile {
  display: none;
}
#showLeft {
  float: right;
  display: block;
  width: 35px;
  height: 29px;
  background: none;
  border: 0;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#showLeft span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#showLeft span:nth-child(1) {
  top: 0px;
}
#showLeft span:nth-child(2),
#showLeft span:nth-child(3) {
  top: 10px;
}
#showLeft span:nth-child(4) {
  top: 20px;
}
#showLeft.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#showLeft.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#showLeft.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#showLeft.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#closebtn {
  display: none;
  position: relative;
  z-index: 999999999;
  margin: 6px;
  width: 37px;
  height: 35px;
  background: #fff;
  border: 0;
  background: url(../images/close.png) no-repeat center;
}
@media (max-width: 999px) {
  .wrapper {
    background-size: 125%;
  }
  .container,
  #trial-box {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .content,
  #buttons,
  .bottom,
  .banner,
  .info-home {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .content {
    background: #fff;
  }
  img {
    max-width: 100%;
  }
  /*.flash {
		display: none;
	}*/
  .content,
  .info-home,
  .wrapper-home {
    /*background-image: none;*/
    background-size: 100%;
  }
  .infoText {
    width: 100%;
    padding: 15px;
  }
  .column-content {
    margin: 15px;
  }
  .content {
    float: none;
  }
  .content .info-home {
    float: none;
  }
  .content .info-home #home_main {
    height: 600px;
    width: 100%;
    background: #fff;
  }
  .content .info-home #home_main .desc,
  .content .info-home #home_main #homepage-result-panel,
  .content .info-home #home_main .flash,
  .content .info-home #home_main .subscribe {
    position: relative;
  }
  .content .info-home #home_main .flash {
    width: 30%;
    position: absolute;
    z-index: 10;
    top: 335px;
    left: 0;
  }
  .content .info-home #home_main .flash p#david,
  .content .info-home #home_main .flash p#david-video-intro {
    color: #fff !important;
  }
  .content .info-home #home_main .flash p#david-title {
    color: #004d64;
  }
  .content .info-home #home_main .desc {
    width: 50%;
    float: left;
  }
  .content .info-home #home_main #homepage-result-panel {
    width: 45%;
    float: right;
    position: relative;
    left: 0;
  }
  .content .info-home #home_main .subscribe {
    padding-right: 20px;
    z-index: 1;
    background: #117E9F;
    left: initial;
    height: 47%;
    top: initial;
    display: block;
    float: left;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px 0;
  }
  .content .info-home #home_main .subscribe .left_desc {
    float: right;
    width: 70%;
  }
  .content .info-home #home_main .subscribe .left_desc #trial-box h3 {
    line-height: normal;
  }
  .content .info-home #home_main .subscribe .left_desc #trial-box #trialEmail {
    margin: 0;
  }
  .content .info-home #home_main .subscribe .left_desc #trial-box input[type=text] {
    width: 93%;
  }
  .content .info-home #home_main .subscribe .left_desc #trial-box .gform_wrapper ul {
    padding: 0;
    margin: 0;
  }
  .content .info-home #home_main .subscribe .left_desc #trial-box .gform_wrapper ul li {
    float: none;
    display: block;
  }
  .content .info-home #home_main .subscribe .left_desc #trial-box .gform_wrapper ul li input {
    margin-right: 0;
    padding: 10px;
    display: block;
  }
  .banner {
    background: #ffffff url(../images/banner-strip.jpg) repeat-x top left;
  }
  .banner .client_login {
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
    width: 400px;
    height: auto;
    padding-left: 0;
    z-index: 9999;
  }
  .banner .banner_text {
    position: absolute;
    top: 40px;
    right: 0;
  }
  .banner .banner_text p {
    padding: 35px 28px 0px 0px;
  }
  .head-pos {
    margin-top: 17px;
    text-align: right;
    padding-right: 30px;
    padding-top: 0;
  }
  #result-percentage {
    position: initial;
    width: auto;
    height: auto;
    line-height: normal;
  }
  #result-summary p {
    position: initial;
    width: auto;
  }
  #featured-reports-content {
    background: #fff;
  }
  #featured-reports-content .sections {
    width: 100%;
    background-image: none;
  }
  #featured-reports-content .sections .reports {
    width: 100%;
  }
  #featured-reports-content .sections .reports .featured-column {
    width: 33.33%;
    margin: 0;
  }
  #featured-reports-content .sections .reports .featured-column .fleft {
    float: left;
  }
  #featured-reports-content .sections .reports .featured-column .top {
    background-image: none !important;
    background-color: #eeeeee;
    margin: 15px 15px 0;
    padding: 15px;
    width: auto;
    height: auto;
    float: none;
  }
  #featured-reports-content .sections .reports .featured-column .top .header {
    width: auto;
    height: auto;
    position: initial !important;
  }
  #featured-reports-content .sections .reports .featured-column .top .header a {
    background-size: initial;
    background-position: center;
    background-color: #2e5665;
    width: 130px;
    height: 130px;
    margin: 20px auto;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    text-decoration: none;
  }
  #featured-reports-content .sections .reports .featured-column .top .header a.icon-trending:hover {
    background-color: #e2862d;
  }
  #featured-reports-content .sections .reports .featured-column .top .header a.icon-growth:hover {
    background-color: #12584d;
  }
  #featured-reports-content .sections .reports .featured-column .top .header a.icon-commodity:hover {
    background-color: #5c513d;
  }
  #featured-reports-content .sections .reports .featured-column .top .header a.icon-blue_chip:hover {
    background-color: #008080;
  }
  #featured-reports-content .sections .reports .featured-column .top .header a.icon-story_month:hover {
    background-color: #5da5b5;
  }
  #featured-reports-content .sections .reports .featured-column .top .desc p {
    font-size: 18px;
    line-height: 18px !important;
  }
  #featured-reports-content .sections .reports .featured-column .top .desc,
  #featured-reports-content .sections .reports .featured-column .top p.link {
    text-align: center;
    line-height: normal;
    margin-bottom: 15px;
  }
  #featured-reports-content .sections .reports .featured-column .count {
    background: #e2862d;
    margin: 0 15px 15px;
  }
  #featured-reports-content .sections .reports .featured-column .count .trending_numbers,
  #featured-reports-content .sections .reports .featured-column .count p.fleft {
    color: #fff;
  }
  #featured-reports-content .sections .reports .featured-column .count .trending_numbers {
    width: 20%;
    padding: 10px 0px;
    text-align: center;
  }
  #featured-reports-content .sections .reports .featured-column .count p.fleft {
    width: 80%;
    font-size: 16px;
    text-align: left;
    padding: 17px 0px;
  }
  .bottom .bottom_left {
    width: 100%;
    padding-left: 0;
    border: 0;
  }
}
@media (max-width: 768px) {
  .bottom_left {
    padding-left: 0;
    border: 0;
  }
}
@media (max-width: 767px) {
  h1 {
    background-image: none;
    padding: 0;
    font-size: 32px;
    line-height: normal;
    height: auto;
  }
  .banner .logo {
    width: 30%;
    background: none;
    height: auto;
  }
  .banner .logo img {
    max-width: 100%;
    height: auto;
    min-width: 124px;
  }
  .banner .logo a {
    line-height: 0;
    display: block;
  }
  .desktop,
  .mobile-hidden {
    display: none;
  }
  .mobile {
    display: block;
  }
  #buttons {
    display: none;
  }
  .banner {
    /*.client_login {
		    
		    top: 21px;
		}*/
  }
  .banner .mobile {
    text-align: right;
    color: #fff;
  }
  .banner .client_login {
    top: 22px;
    right: 30px;
  }
  .banner .client_login .head-pos {
    margin: 0;
    padding: 0;
  }
  .mobile-menu {
    display: block;
    position: absolute;
    left: 30%;
    width: 200px;
    top: 22px;
  }
  .mobile-menu ul {
    position: absolute;
    left: 0;
  }
  .mobile-menu ul li {
    list-style-image: none;
    text-align: left;
    display: inline-block;
  }
  .mobile-menu ul li a {
    margin-right: 15px;
    color: #fff;
  }
  .mobile-hero {
    padding: 60px 0;
    background-size: cover !important;
  }
  .mobile-hero .hero-text {
    background: url(../images/hero-strip.png) repeat top left;
    width: 80%;
    margin: 0 auto;
    padding: 40px 10px 40px 10px;
    text-align: center;
  }
  .mobile-hero .hero-text h2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 34px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    line-height: normal;
  }
  .mobile-hero .hero-text p {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
  }
  .mobile-hero .hero-text button {
    border: 0;
    background: transparent;
    width: 44px;
    height: 44px;
    background: url(../images/icon-play.png) no-repeat center;
    text-indent: -9999999px;
    font-size: 0;
  }
  .trial-form {
    background: #ffffff url(../images/banner-strip.jpg) repeat-x top left;
    padding: 10px;
    padding: 21px 20px;
    position: relative;
  }
  .trial-form p {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #57aef1;
    margin: 0;
  }
  .trial-form a {
    color: #fff;
    padding: 20px;
    background: #e2862d;
    position: absolute;
    top: 0;
    right: 0;
  }
  .featured-reports-content .featured-column {
    width: 50%;
  }
  #featured-reports-content .sections .reports .featured-column {
    width: 50%;
  }
  .info-home {
    min-height: initial;
    height: auto;
  }
  .info-home {
    background-image: none;
    background-color: #fff;
  }
}
@media (max-width: 680px) {
  .column-content .grid_6.h {
    width: 100%;
    float: none;
  }
  /* Result page */
  .result-box {
    background: #e0eff2;
    padding-bottom: 10px;
    margin: 20px;
    overflow: hidden;
    border-radius: 5px;
  }
  .result-box .stock-name {
    background: #5da5b5;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    width: 100%;
  }
  .result-box .date-bought,
  .result-box .dbp,
  .result-box .date-sold,
  .result-box .dsp,
  .result-box .profit,
  .result-box .percent {
    font-size: 14px;
    padding: 0 15px;
    text-transform: uppercase;
    width: 100% !important;
  }
  /* End of Result page */
}
@media (max-width: 550px) {
  body {
    background: #907f4a;
  }
  .banner {
    background-size: cover !important;
    /*.banner_text {
			display: none;
		}*/
    height: 140px;
  }
  .banner .logo {
    width: 25%;
  }
  .banner .mobile-menu {
    top: 40px;
  }
  .banner_text {
    position: initial !important;
    clear: both;
    display: block;
    background: #fff;
    min-height: 65px;
  }
  .banner_text p {
    padding: 10px 0 !important;
    text-align: center;
    width: 100%;
  }
  .bottom .bottom_left,
  .bottom .bottom_right {
    width: 100%;
  }
  #featured-reports-content .sections .reports .featured-column {
    margin: 0;
    width: 100%;
  }
  .bottom_right {
    padding-left: 0;
  }
  .padding-mobile,
  .infoText {
    margin: 5%;
    width: 95%;
    padding: 0;
  }
}
@media (max-width: 480px) {
  .banner .client_login {
    top: 10px;
  }
  .banner .mobile-menu {
    top: 45px;
    width: 100%;
    left: 0;
    display: block;
  }
  .banner .mobile-menu ul {
    right: 20px;
    left: initial;
  }
  .head-pos span.mob {
    display: none;
  }
  .mobile-hero .gform_wrapper {
    width: 88%;
  }
}
