body {
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	font-style:normal;
	font-weight:normal;
	background:#907F4A url(../images/background.jpg) left top repeat-x;
	font-size:13px;
	color:#848484;
	margin:0px;
	padding:0px;
}
/* Wrappers */
.wrapper {
	display:block;
	margin:0px auto;
	padding:0;
	width:100%;
	height:auto;
	background:url(../images/mainBG.jpg) center top no-repeat;
	float:left;
}

.wrapper-home {
	display:block;
	margin:0px auto;
	padding:0;
	width:100%;
	background:url(../images/homeBG.jpg) center top no-repeat;
	float:left;
}

/* Containers */
.container {
	display:block;
	margin:0px auto;
	padding:0px;
	width:999px;
	height:auto;
	clear:both;
}
/* Banner & Logo */
.banner {
	display:block;
	margin:0px;
	padding:0px 33px;
	width:933px;
	height:124px;
	clear:both;
}
.logo {
	display:block;
	margin:0px;
	padding:0px;
	width:205px;
	height:124px;
	background:url(../images/logo.jpg) left top no-repeat;
	float:left;
}
.client_login {
	display:block;
	margin:0px;
	padding:12px 60px 0px 20px;
	width:400px;
	height:24px;
	float:right;
}
.client_login a {
	color:#FFFFFF;
	text-decoration:none;
}
.client_login .p12 {
	font-family: Georgia, "Times New Roman", Times, serif;
}
.client_login a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
.client_login input.unpw {
	color:#9b9b9b;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
.banner_text {
	display:block;
	margin:0px;
	padding:35px 40px 0px 0px;
	width:450px;
	height:24px;
	float:right;
	text-align:right;
	font-size:16px;
	color:#035f79;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	font-weight: bold;
}
div.text {
	display:block;
	width:113px;
	height:23px;
	padding:0px;
	margin:0px;
	background:url(../images/text_field.jpg) center top no-repeat;
}
input.unpw {
	display:block;
	width:103px;
	height:18px;
	font-size:11px;
	margin:0px 5px;
	padding:2px 0px 0px;
	padding:5px 0px 0px\9;
	background:none;
	border:none;
}
input.login {
	display:block;
	width:69px;
	height:22px;
	background:url(../images/login.jpg) 0px 0% no-repeat;
	border:none;
	cursor:pointer;
}
input.login:hover, a:hover img {
	filter:alpha(opacity=60);
	-moz-opacity:.50;
	opacity:.50;
}
/* Content + Information Sections */
.content {
	display:block;
	margin:0px;
	padding:0px;
	width:999px;
	height:auto;
	background:url(../images/content-home-BG.jpg) center top repeat-y;
	float:left;
}
.info {
	display:block;
	margin:0px 0px 0px;
	padding:0px 33px;
	width:933px;
	min-height:662px;
	background:url(../images/infoBG.jpg) center top no-repeat;
	float:left;
	clear:both;
}

.info-home {
	display:block;
	margin:0px 0px 0px;
	padding:0px 33px;
	width:933px;
	min-height:662px;
	background:url(../images/info-home-BG.jpg) center top no-repeat;
	float:left;
	clear:both;
}

.sections_banner {
	display:block;
	margin:0px 0px 0px;
	padding:0px 0px;
	width:910px;
	height:103px;
	background:url(../images/banner_reports.jpg) left top no-repeat;
	float:left;
	clear:both;
}
body#reports.banner_trending .sections_banner {
	height:100px;
	background:url(../images/banner_trending.jpg) left top no-repeat;
}
body#reports.banner_trending2 .sections_banner {
	height:100px;
	background:url(../images/banner_trending2.jpg) left top no-repeat;
}
body#reports.banner_growth .sections_banner {
	height:100px;
	background:url(../images/banner_growth.jpg) left top no-repeat;
}
body#reports.banner_growth2 .sections_banner {
	height:100px;
	background:url(../images/banner_growth2.jpg) left top no-repeat;
}
body#reports.banner_commodity .sections_banner {
	height:100px;
	background:url(../images/banner_commodity.jpg) left top no-repeat;
}
body#reports.banner_blue_chip .sections_banner {
	height:100px;
	background:url(../images/banner_blue_chip.jpg) left top no-repeat;
}
body#reports.banner_story_month .sections_banner {
	height:100px;
	background:url(../images/banner_story_month.jpg) left top no-repeat;
}
.welcome {
	display:block;
	margin:0px 0px 0px;
	padding:8px 0px 0px 200px;
	width:710px;
	height:39px;
	background:url(../images/welcome.jpg) left top no-repeat;
	float:left;
	clear:both;
}
.infoLeft, .infoMiddle, .infoRight, .right, .infoText {
	display:block;
	margin:0px;
	padding:0px;
	width:250px;
	height:auto;
	float:left;
}
.infoLeft {
	padding:22px 30px 10px 0px;
	width:220px;
	background:url(../images/left.jpg) left top no-repeat;
}
.infoMiddle {
	padding:22px 20px 10px;
	width:421px;
	background:none;
}
.speech, .speech_top, .speech_info, .speech_bottom {
	display:block;
	width:388px;
	background:url(../images/speechBG.jpg) left top repeat-y;
}
.speech_top {
	background:url(../images/speech_top.jpg) left top no-repeat;
	height:71px;
}
.speech_info {
	position:relative;
	width:250px;
	margin:-68px 0px -58px 0px;
	padding:0px 64px 0px 74px;
	background:none;
z-index.:100;
}
.speech_bottom {
	background:url(../images/speech_bottom.jpg) left bottom no-repeat;
	height:123px;
}
 .infoRightdisplay:block; {
width:342px;
float:right;
background:url(../images/rightBG.png) center top repeat-y;
margin:14px -104px 0px 0px;
float:right;
}
.infoRight h1 {
	font-size:18px;
	font-weight:normal;
	line-height:22px;
	color:#FFFFFF;
}
.infoRight h2 {
	display:block;
	width:206px;
	line-height:18px;
	height:17px;
	padding:0px 5px;
	color:#C1272D;
	font-size:12px;
	background:url(../images/dateBG.jpg) 0px 0% no-repeat;
	font-weight:normal;
}
.infoRight p {
	color:#FFFFFF;
}
.right {
	display:block;
	width:218px;
	background:url(../images/right.jpg) center top no-repeat;
	padding:15px 112px 10px 12px;
	float:left;
	clear:both;
}
.infoText {
	padding:20px 0 0;
	width:920px;
}
body#general .infoText {
	padding:20px 60px 20px 14px;
	width:866px;
}
/*body#home .infoText{padding:0px 0px;width:893px;}*/





/* Homepage Info Text START */

.infoText .daily_tips {
	float: left;
	width: 530px;
}

.infoText .daily_tips .top {
	border-bottom: 1px solid #e8f1f5;
	padding: 0px 10px 0;
	height: 36px;
	margin-bottom: 8px;
}

.infoText .daily_tips .top h2 {
	float: left;
	background: url(../images/icon_daily_tips.png) no-repeat right bottom;
	font-size: 20px;
	color: 155667;
	padding: 10px 40px 5px 0;
	margin: 0;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.infoText .daily_tips .top h3 {
	float: right;
	font-weight: bold;
	font-size: 16px;
	color: 155667;
	padding: 10px 0 5px 0;
	margin: 0;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
}

.infoText .daily_tips .items {
	clear: both;
}

.infoText .daily_tips .items .item {
	clear: both;
}

.infoText .daily_tips .items .item h4 {
	float: left;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	font-size: 14px;
	color: #035a72;
	padding: 0;
	margin: 0;
}

.infoText .daily_tips .items .item {
	margin-bottom: 10px;
}

.infoText .daily_tips .items .item .date {
	float: right;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	font-size: 11px;
	color: #035a72;
}

.infoText .daily_tips .items .item .desc {
	clear: both;
}

.infoText .daily_tips .items .item .desc p {
	margin-bottom: 0;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	font-size: 11px;
	color: #403f3f;
	line-height: 14px;
}

.infoText .daily_tips .items .item .desc .more a {
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	font-size: 11px;
	color: #035a72;
	line-height: 11px;
	text-transform: lowercase;
	text-decoration: none;
	font-weight: bold;
}

.infoText .daily_tips .items .item .desc .more a:hover {
	text-decoration: underline;
}

.infoText .daily_tips .bottom {
	width: auto;
	padding: 0;
}

.infoText .daily_tips .bottom a:hover img {
	filter: none;
}




.infoText .feedback {
	width: 360px;
	float: right;
	background: url(../images/feedback_bg.jpg) no-repeat left top;
	padding: 0;
	height: auto;
}

.infoText .feedback .top {
	padding: 0px 10px 0;
	height: 37px;
}

.infoText .feedback .top h2 {
	float: left;
	background: url(../images/icon_feedback.png) no-repeat right 8px;
	font-size: 20px;
	color: 155667;
	padding: 10px 35px 5px 0;
	margin: 0;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.infoText .feedback .items {
	padding: 0px 10px 0;
}

.infoText .feedback .items p {
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	font-size: 13px;
	line-height: 18px;
	color: #155667;
}

.infoText .feedback .bottom {
	padding: 0 0 50px 10px;
	width: auto;
}

.infoText .feedback .bottom a.more {
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	font-size: 11px;
	color: #03607a;
	text-transform: uppercase;
}

/* Homepage Info Text END */








#home_main {
	background:url(../images/home_main_bg_new.jpg) left top no-repeat;
	width: 919px;
	height: 424px;
	position: relative;
}

#home_main h1 {
	background-image:none;
	font-size:24px;
	font-weight:bold;
	line-height:normal;
	text-transform:none;
	margin:0px;
	margin-top:-140px;
	padding:0px;
	padding-bottom:70px;
}
#home_main h2 {
	margin:0px;
	font-size:19px;	
	font-weight:normal;
	line-height:normal;	
	padding-bottom:20px;
}

#home_main a:hover img {
	filter: none;
}
#home_main .desc {
	position: absolute;
	top: 175px;
	left: 16px;
	width: 320px;
}
#home_main .desc p {
	color: #138eb2;
	font-size: 17px;
	line-height: 22px;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	font-weight: bold;
	margin-bottom: 14px;
}
#home_main .flash {
	position: absolute;
	top: 30px;
	text-align: center;
	left: 360px;
}
#home_main .flash p {
	margin-bottom: 6px;
}
#home_main .subscribe {
	position: absolute;
	bottom: 0;
	left: 16px;
	width: 880px;
	padding: 0;
	height: 100px;
}
#home_main .subscribe .left_desc {
	float: left;
	width: 280px;
	padding-top: 10px;
	padding-left: 4px;
}
#home_main .subscribe .left_desc p {
	font-size: 17px;
	line-height: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	color: #fff;
}
#home_main .subscribe .right_links {
	float: right;
	width: 540px;
}
#home_main .subscribe .right_links ul, li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#home_main .subscribe .right_links li {
	display: inline;
	border-left: 1px solid #0b556c;
	float: left;
	height: 95px;
}
#home_main .subscribe .right_links li span.container {
	padding: 0px 10px 5px 15px;
	display: block;
	width: 150px;
	height: 76px;
	border-left: 1px solid #386f7f;
}
#home_main .subscribe .right_links li.hrow3 span.container {
	padding-top: 0; /* padding-top(19) - line-height(19) */
	height: 95px;
}
#home_main .subscribe .right_links span.head {
	font-size: 17px;
	font-weight: bold;
	line-height: 19px;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	color: #fff;
}
#home_main .subscribe .right_links a {
	display: block;
	font-size: 12px;
	line-height: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	color: #9feafe;
	text-decoration: none;
}
#home_main .subscribe .right_links a:hover {
	text-decoration: underline;
}



table.subscribe_form {
	margin:0px 0px 5px;
}
table.subscribe_form td {
	margin:0px;
	padding:0px 0px 5px;
}
div.text2 {
	display:block;
	width:205px;
	height:23px;
	padding:0px;
	margin:0px;
	background:url(../images/text_field2.jpg) center top no-repeat;
}
input.submit {
	display:block;
	width:207px;
	height:29px;
	padding:0px;
	background:url(../images/subscribe_free.jpg) left top no-repeat;
	border:none;
	cursor:pointer;
}
input.submit:hover {
	filter:alpha(opacity=60);
	-moz-opacity:.50;
	opacity:.50;
}
input.nemp {
	display:block;
	width:195px;
	height:18px;
	font-size:11px;
	margin:0px 5px;
	padding:5px 0px 0px;
	background:none;
	border:none;
}
.privacy {
	display:block;
	width:250px;
	margin:0px 0px 0px -9px;
	padding:0px;
	clear:both;
	font-size:11px;
	color:#FFFFFF;
}
/* Join Sections */
.join_banner {
	display:block;
	margin:0px 0px 12px;
	padding:0px 0px;
	width:910px;
	height:256px;
	background:url(../images/banner_join.jpg) left top no-repeat;
	float:left;
	clear:both;
}
.view_reports_join {
	display:block;
	width:910px;
	height:auto;
	margin:0px 0px 0px;
	padding:25px 0px 0px;
	background:url(../images/view_reports_join.jpg) left top no-repeat;
	float:left;
	clear:both;
}
a#trending_join {
	display:block;
	width:324px;
	height:204px;
	margin:0px 0px 0px;
	padding:0px 0px 0px;
	background:url(../images/trending_join.jpg) left top no-repeat;
	float:left;
}
a#story_month_join {
	display:block;
	width:335px;
	height:204px;
	margin:0px 0px 0px;
	padding:0px 0px 0px;
	background:url(../images/story_month_join.jpg) left top no-repeat;
	float:left;
}
a#trending_join:hover, a#story_month_join:hover {
	filter:alpha(opacity=60);
	-moz-opacity:.50;
	opacity:.50;
}
a#trending_join span, a#story_month_join span {
	visibility:hidden;
	text-decoration:none;
}
.subscribe_join {
	display:block;
	width:221px;
	height:260px;
	background:url(../images/subscribe_join.jpg) left top no-repeat;
	margin:-25px 0px 0px;
	padding:40px 11px 20px 19px;
	float:right;
}
.privacy_join {
	display:block;
	line-height: 14px;
	width:221px;
	margin:0px 0px 0px;
	padding:0px;
	clear:both;
	font-size:11px;
	color:#FFFFFF;
}
.feedback_join {
	display:block;
	width:616px;
	height:auto;
	margin:0px;
	padding:35px 30px 10px 12px;
	background:url(../images/feedback_join.jpg) left top no-repeat;
	float:left;
}
/* Members Sections */
.joinNow_banner {
	display:block;
	margin:0px 0px 27px;
	padding:0px 0px;
	width:910px;
	height:230px;
	background:url(../images/joinNow_banner.jpg) left top no-repeat;
	float:left;
	clear:both;
}
.joinNow_expert_rep {
	display:block;
	width:910px;
	height:auto;
	margin:0px 0px 0px;
	padding:30px 0px 0px;
	background:url(../images/joinNow_expert_rep.jpg) left top no-repeat;
	float:left;
	clear:both;
}
.joinNow_reports {
	display:block;
	width:510px;
	height:auto;
	margin:0px 0px 0px;
	padding:0px 19px 10px 0px;
	float:left;
}
.joinNow_reports img {
	float:left;
	margin:0px 10px 0px 0px;
}
.joinNow_reports a img:hover {
	filter:alpha(opacity=60);
	-moz-opacity:.50;
	opacity:.50;
}
.joinNow_reports p {
	display:block;
	width:510px;
	float:left;
	clear:both;
	margin:0px;
	padding:0px 19px 8px 0px
}
.joinNow_subscribe {
	display:block;
	width:351px;
	height:545px;
	background:url(../images/joinNow_subscribe.jpg) left top no-repeat;
	margin:-57px 0px 0px;
	padding:60px 11px 20px 19px;
	float:right;
}
.joinNow_privacy {
	display:block;
	width:300px;
	margin:0px 0px 0px;
	padding:0px;
	clear:both;
	font-size:11px;
	color:#FFFFFF;
}
.joinNow_memb_offer {
	display:block;
	width:499px;
	height:auto;
	margin:0px;
	padding:30px 30px 10px 0px;
	background:url(../images/joinNow_memb_offer.jpg) left top no-repeat;
	float:left;
}
.joinNow_feedback {
	display:block;
	width:499px;
	height:auto;
	margin:0px;
	padding:30px 30px 10px 0px;
	background:url(../images/joinNow_feedback.jpg) left top no-repeat;
	float:left;
}
/* Report Sections */
.sections {
	display:block;
	width:920px;
	height:auto;
	margin:0px;
	padding:0px;
	background:url(../images/sectionsBG.jpg) left bottom no-repeat;
	float:left;
}
.reports, .reports2, .reports3 {
	display:block;
	width:920px;
	height:auto;
	margin:0px;
	padding:21px 0px 0px;
	background:url(../images/reportsBG.jpg) left top no-repeat;
	float:left;
}
.reports {
	background: none;
}
.reports .desc {
	padding-left: 10px;
}
.reports .desc p {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: bold;
	color: #155667;
	margin-bottom: 0;
}
.reports2 {
	background:none;
	padding:0px;
}
.reports3 {
	background:url(../images/sectionsBG.jpg) left bottom no-repeat;
	padding:0px;
	margin:0px 0px 20px;
}
/*.reports .reports_info{height:94px;}.reports2 .reports_info{height:179px;}
.reports_numbers{margin:0px;padding:0px 10px 0px 0px;float:left;font-size:30px;}
div.reports_top{display:block;height:22px;margin:0px;padding:5px 0px;clear:both;font-size:10px;}div.reports_top p{font-size:10px;margin:0px;padding:0px;}
.reports p,.reports2 p{font-size:11px;line-height:15px;margin:0px;padding:0px 0px 5px;color:#585858;}.reports2 p{font-size:12px;}
.reports a, .reports2 a{color:#03607A;text-decoration:none;}.reports a:hover,.reports2 a:hover{color:#03607A;text-decoration:underline;}*/

/* Trending */
.trending {
	display:block;
	width:202px;
	height:auto;
	margin:0px 0px 0px -24px;
	padding:0px;
	float:left;
}


.trending .top {
	display:block;
	width:152px;
	height: 90px;
	margin:0px;
	margin-bottom: 6px;
	padding:105px 15px 0px 35px;
	background:url(../images/trending.jpg) left top no-repeat;
	position: relative;
	float:left;
}

.trending .top .header {
	position: absolute;
	height: 80px;
	width: 166px;
	left: 25px;
	top: 15px;
}

.trending .top .header a {
	display: block;
	height: 100%;
	width: 100%;
}

.trending .top .desc {
	padding: 0 !important;
	margin: 0;
}

.trending .top .desc p {
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	margin: 0 !important;
	padding: 0 !important;
	color: #403f3f !important;
	font-size: 12px;
	line-height: 15px !important;
}

.trending .top .link {
	padding-bottom: 0;
	margin-bottom: 0;
}

.trending p {
	margin-bottom: 0;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	color: #585858;
}

.trending .top .link a {
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #035a72;
	font-size: 11px;
}

.trending .top .link a:hover {
	text-decoration: underline;
}

.trending_numbers {
	margin:0px;
	padding:0px 5px 0px 30px;
	float:left;
	font-size:30px;
}
.trending p, .trendingB p {
	font-size:12px;
	line-height:16px;
}
/*big*/
.trendingB {
	display:block;
	width:202px;
	height:auto;
	margin:0px 0px 0px -24px;
	padding:0px;
	float:left;
}
.trendingB a, .trendingB a:hover {
	display:block;
	width:152px;
	margin:0px;
	padding:303px 15px 0px 35px;
	background:url(../images/trendingB.jpg) left top no-repeat;
	text-decoration:none;
	float:left;
}
.trendingB a:hover {
	filter:alpha(opacity=60);
	-moz-opacity:.50;
	opacity:.50;
}
.trendingB a span {
	visibility:hidden;
	text-decoration:none;
}
/* Growth */
.growth {
	display:block;
	width:186px;
	height:auto;
	margin:0px;
	padding:0px;
	float:left;
	position: relative;
}


.growth .top {
	display:block;
	width:152px;
	height: 90px;
	margin:0px;
	margin-bottom: 6px;
	padding:105px 15px 0px 20px;
	background:url(../images/growth.jpg) left top no-repeat;
	float:left;
}

.growth .top .header {
	position: absolute;
	height: 80px;
	width: 166px;
	left: 10px;
	top: 15px;
}

.growth .top .header a {
	display: block;
	height: 100%;
	width: 100%;
}




.growth .top .desc {
	padding: 0 !important;
	margin: 0;
}

.growth .top .desc p {
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	margin: 0 !important;
	padding: 0 !important;
	color: #403f3f !important;
	font-size: 12px;
	line-height: 15px !important;
}

.growth .top .link {
	padding-bottom: 0;
	margin-bottom: 0;
}

.growth p {
	margin-bottom: 0;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	color: #585858;
}

.growth .top .link a {
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #035a72;
	font-size: 11px;
}

.growth .top .link a:hover {
	text-decoration: underline;
}

.growth_numbers {
	margin:0px;
	padding:0px 5px 0px 10px;
	float:left;
	font-size:30px;
}
.growth p, .growthB p {
	font-size:12px;
	line-height:16px;
}




/*big*/
.growthB {
	display:block;
	width:186px;
	height:auto;
	margin:0px;
	padding:0px;
	float:left;
}
.growthB a, .growthB a:hover {
	display:block;
	width:146px;
	margin:0px;
	padding:303px 20px 0px 20px;
	background:url(../images/growthB.jpg) left top no-repeat;
	text-decoration:none;
	float:left;
}
.growthB a:hover {
	filter:alpha(opacity=60);
	-moz-opacity:.50;
	opacity:.50;
}
.growthB a span {
	visibility:hidden;
	text-decoration:none;
}
.growth_numbers {
	margin:0px;
	padding:0px 5px 0px 10px;
	float:left;
	font-size:30px;
}
/* 3 Year Commodity */
.commodity {
	display:block;
	width:186px;
	height:auto;
	margin:0px;
	padding:0px;
	float:left;
}


.commodity .top {
	display:block;
	width:152px;
	height: 90px;
	margin:0px;
	margin-bottom: 6px;
	padding:105px 15px 0px 20px;
	background:url(../images/commodity.jpg) left top no-repeat;
	position: relative;
	float:left;
}

.commodity .top .desc {
	padding: 0 !important;
	margin: 0;
}


.commodity .top .header {
	position: absolute;
	height: 80px;
	width: 166px;
	left: 10px;
	top: 15px;
}

.commodity .top .header a {
	display: block;
	height: 100%;
	width: 100%;
}

.commodity .top .desc p {
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	margin: 0 !important;
	padding: 0 !important;
	color: #403f3f !important;
	font-size: 12px;
	line-height: 15px !important;
}

.commodity .top .link {
	padding-bottom: 0;
	margin-bottom: 0;
}

.commodity p {
	margin-bottom: 0;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	color: #585858;
}

.commodity .top .link a {
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #035a72;
	font-size: 11px;
}

.commodity .top .link a:hover {
	text-decoration: underline;
}
.commodity_numbers {
	margin:0px;
	padding:0px 5px 0px 10px;
	float:left;
	font-size:30px;
}
.commodity p, .commodityB p {
	font-size:12px;
	line-height:16px;
}
/*big*/
.commodityB {
	display:block;
	width:186px;
	height:auto;
	margin:0px;
	padding:0px;
	float:left;
}
.commodityB a, .commodityB a:hover {
	display:block;
	width:146px;
	margin:0px;
	padding:303px 20px 0px 20px;
	background:url(../images/commodityB.jpg) left top no-repeat;
	text-decoration:none;
	float:left;
}
.commodityB a:hover {
	filter:alpha(opacity=60);
	-moz-opacity:.50;
	opacity:.50;
}
.commodityB a span {
	visibility:hidden;
	text-decoration:none;
}
.commodity_numbers {
	margin:0px;
	padding:0px 5px 0px 10px;
	float:left;
	font-size:30px;
}
/* Blue Chip */
.blue_chip {
	display:block;
	width:186px;
	height:auto;
	margin:0px;
	padding:0px;
	float:left;
}


.blue_chip .top {
	display:block;
	width:152px;
	height: 90px;
	margin:0px;
	margin-bottom: 6px;
	padding:105px 15px 0px 20px;
	background:url(../images/blue_chip.jpg) left top no-repeat;
	float:left;
	position: relative;
}

.blue_chip .top .desc {
	padding: 0 !important;
	margin: 0;
}


.blue_chip .top .header {
	position: absolute;
	height: 80px;
	width: 166px;
	left: 10px;
	top: 15px;
}

.blue_chip .top .header a {
	display: block;
	height: 100%;
	width: 100%;
}


.blue_chip .top .desc p {
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	margin: 0 !important;
	padding: 0 !important;
	color: #403f3f !important;
	font-size: 12px;
	line-height: 15px !important;
}

.blue_chip .top .link {
	padding-bottom: 0;
	margin-bottom: 0;
}

.blue_chip p {
	margin-bottom: 0;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	color: #585858;
}

.blue_chip .top .link a {
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #035a72;
	font-size: 11px;
}

.blue_chip .top .link a:hover {
	text-decoration: underline;
}
.blue_chip_numbers {
	margin:0px;
	padding:0px 5px 0px 10px;
	float:left;
	font-size:30px;
}
.blue_chip p, .blue_chipB p {
	font-size:12px;
	line-height:16px;
}
/*big*/
.blue_chipB {
	display:block;
	width:186px;
	height:auto;
	margin:0px;
	padding:0px;
	float:left;
}
.blue_chipB a, .blue_chipB a:hover {
	display:block;
	width:146px;
	margin:0px;
	padding:303px 20px 0px 20px;
	background:url(../images/blue_chipB.jpg) left top no-repeat;
	text-decoration:none;
	float:left;
}
.blue_chipB a:hover {
	filter:alpha(opacity=60);
	-moz-opacity:.50;
	opacity:.50;
}
.blue_chipB a span {
	visibility:hidden;
	text-decoration:none;
}
.blue_chip_numbers {
	margin:0px;
	padding:0px 5px 0px 10px;
	float:left;
	font-size:30px;
}
/* Story of the Month */
.story_month {
	display:block;
	width:183px;
	height:auto;
	margin:0px;
	padding:0px;
	float:left;
}


.story_month .top {
	display:block;
	width:152px;
	height: 90px;
	margin:0px;
	margin-bottom: 6px;
	padding:105px 15px 0px 20px;
	background:url(../images/story_month.jpg) left top no-repeat;
	float:left;
	position:relative;
}


.story_month .top .header {
	position: absolute;
	height: 80px;
	width: 166px;
	left: 10px;
	top: 15px;
}

.story_month .top .header a {
	display: block;
	height: 100%;
	width: 100%;
}


.story_month .top .desc {
	padding: 0 !important;
	margin: 0;
}

.story_month .top .desc p {
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	margin: 0 !important;
	padding: 0 !important;
	color: #403f3f !important;
	font-size: 12px;
	line-height: 15px !important;
}

.story_month .top .link {
	padding-bottom: 0;
	margin-bottom: 0;
}

.story_month p {
	margin-bottom: 0;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	color: #585858;
}

.story_month .top .link a {
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Unicode", Lucida, Trebuchet, Arial;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #035a72;
	font-size: 11px;
}

.story_month .top .link a:hover {
	text-decoration: underline;
}
.story_month_numbers {
	margin:0px;
	padding:0px 5px 0px 10px;
	float:left;
	font-size:30px;
}
.story_month p, .story_monthB p {
	font-size:12px;
	line-height:16px;
}
/*big*/
.story_monthB {
	display:block;
	width:183px;
	height:auto;
	margin:0px;
	padding:0px;
	float:left;
}
.story_monthB a, .story_monthB a:hover {
	display:block;
	width:143px;
	margin:0px;
	padding:303px 20px 0px 20px;
	background:url(../images/story_monthB.jpg) left top no-repeat;
	text-decoration:none;
	float:left;
}
.story_monthB a:hover {
	filter:alpha(opacity=60);
	-moz-opacity:.50;
	opacity:.50;
}
.story_monthB a span {
	visibility:hidden;
	text-decoration:none;
}
.story_month_numbers {
	margin:0px;
	padding:0px 5px 0px 10px;
	float:left;
	font-size:30px;
}
/* Home Bottom */
.about_equity {
	display:block;
	width:350px;
	height:130px;
	margin:0px 12px 0px 0px;
	padding:38px 0px 0px 10px;
	background:url(../images/about_equity.jpg) left top no-repeat;
	float:left;
}
.about_equity ul {
	width:160px;
	float:left;
	margin:0px 0px 0px 5px;
	padding:0px 0px 0px 10px;
	font-size:12px;
}
.about_equity ul li {
	margin:0px 0px 5px 10px;
	padding:0px 0px 5px 0px;
*margin:0px 0px 5px 5px;
*padding:0px 0px 5px 5px;
}
/*.download_report{display:block;width:175px;height:80px;margin:0px;padding:88px 0px 0px;background:url(../images/download_report.jpg) left top no-repeat;font-size:16px;font-family:Georgia, "Times New Roman", Times, serif;text-align:center;color:#03607A;float:right;}
.download_report a{text-decoration:none;color:#03607A;}.download_report a:hover{text-decoration:underline;color:#03607A;}*/
.download_report a, .download_report a:hover {
	display:block;
	width:175px;
	height:80px;
	margin:0px;
	padding:88px 0px 0px;
	background:url(../images/download_report.jpg) left top no-repeat;
	font-size:16px;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align:center;
	color:#03607A;
	float:right;
}
.download_report a span {
	visibility:hidden;
	text-decoration:none;
}
.download_report a:hover {
	filter:alpha(opacity=60);
	-moz-opacity:.50;
	opacity:.50;
	text-decoration:none;
}
/* Footer */
.footer {
	display:block;
	margin:0px 0px 0px;
	padding:0px 0px 0px;
	width:999px;
	height:62px;
	float:left;
	clear:both;
	background:url(../images/bottom.jpg) center bottom no-repeat;
}
.footer_text, .footer_links {
	display:block;
	margin:0px;
	padding:10px 51px 0px 33px;
	width:903px;
	height:30px;
	background:url(../images/footerBG.jpg) center top no-repeat;
	float:left;
	clear:both;
	text-align:right;
	font-size:18px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#02485B;
}
.footer_text a {
	text-decoration:underline;
	color:#02485B;
}
.footer a:hover {
	text-decoration:none;
	color:#02485B;
}
/* Bottom */
.bottom {
	display:block;
	margin:0px;
	padding:20px 0px;
	width:999px;
	height:auto;
	color:#d6d2c3;
	float:left;
	clear:both;
}
.bottom_left, .bottom_right {
	display:block;
	width:499px;
	margin:0px;
	padding:0px;
	text-align:left;
	font-size:10px;
	float:left;
}
.bottom_left {
	padding-left: 40px;
	border-right: 1px solid #7f754b;
}
.bottom_right {
	float:left;
	padding-left: 20px;
	margin: 0;
	width: 400px;
	text-transform: uppercase;
}
.bottom_left p, .bottom_right p {
	font-size:10px;
	color:#d6d2c3;
	line-height: 14px;
}
.bottom_right p {
	font-weight: bold;
}
.bottom a {
	text-transform: uppercase;
	color:#d6d2c3;
	font-size: 10px;
	text-decoration:none;
}
.bottom a:hover {
	color: #fff;
	text-decoration:underline;
}
/* Images */
.imgTop {
	margin:0px 0px 10px;
	padding:0px;
}
.imgBottom {
	margin:10px 0px 0px;
	padding:0px;
}
.imgLeft {
	margin:0px 10px 10px 0px;
	padding:0px;
	float:left;
}
.imgRight {
	margin:0px 0px 10px 10px;
	padding:0px;
	float:right;
}
/* Floats */
.fLeft {
	float:left;
}
.fRight {
	float:right;
}
/* Other */
ul {
	display:block;
	margin:0px 0px 0px 15px;
	padding:0px 0px 10px;
	color:#585858;
	list-style-type:disc;
	text-decoration:none;
	list-style-image:url(../images/list.png);
}
ol {
	display:block;
	margin:0px 0px 0px 30px;
	padding:0px 0px 10px;
	color: #585858;
	text-decoration:none;
}
li {
	margin:0px 0px 5px 0px;
	padding:0px 0px 5px 0px;
*margin:0px 0px 5px 5px;
*padding:0px 0px 5px 10px;
}
a {
	color:#414042;
	text-decoration:none;
}
a:hover {
	color:#82A918;
	text-decoration:underline;
}
.a1 {
	color:#82A918;
	text-decoration:none;
}
.a1:hover {
	color:#414042;
	text-decoration:underline;
}
.right a {
	text-decoration:none;
	color:#4C5B1B;
}
.right a:hover {
	text-decoration:underline;
	color:#4C5B1B;
}
/* Feedback Scroller */
.feedback {
	display:block;
	width:340px;
	height:94px;
	margin:0px;
	padding:38px 14px 36px 6px;
	background:url(../images/feedback.jpg) left top no-repeat;
	float:left;
}
.feedback p {
	margin:0px 0px 6px;
	padding:0px;
	font-size:14px;
	color:#0C82A2;
}
.feedback a {
	text-decoration:none;
	color:#0C82A2;
}
.feedback a:hover {
	text-decoration:underline;
	color:#0C82A2;
}
#pscroller1 {
	margin:0px;
	padding:0px;
	width:340px;
	height:90px;
}
/* .someclass{ class to apply to your scroller(s) if desired
} */

/* Contact Buttons
input.submit,input.submit2{background:url(../images/submit.jpg) 0px 0% no-repeat;width:122px;height:38px;border:none;cursor:pointer;}
input.submit2{background: url(../images/submit2.jpg) 0px 0% no-repeat;} */


/* PRINT LINK */
a.print:link, a.print:visited, a.print:hover {
	display:block;
	width:73px;
	height:22px;
	margin:0px 10px 0px 0px;
	padding:0px;
	background:url(../images/print.jpg) left top no-repeat;
	float:right;
}
a.print:hover {
	filter:alpha(opacity=60);
	-moz-opacity:.50;
	opacity:.50;
}
/* css written on 03-june-09 starts here */

.storymonth_banner {
	display:block;
	margin:0px 0px 0px;
	padding:0px 0px;
	width:910px;
	height:103px;
	background:url(../images/banner_reports.jpg) left top no-repeat;
	float:left;
	clear:both;
}
.bg_trending {
	background:url(../images/trendingB.jpg) no-repeat left top;
	width:202px;
	height:313px;
}
.paddingleft_none {
	padding:10px 15px 0 0 !important;
	margin:30px 0 0 0 !important;
}
.right_navbg {
	background:url(../images/right_navBG.gif) repeat-y !important;
}
.right_navbg img {
	vertical-align:bottom !important;
}
.btm_navi {
	background:url(../images/btm_navbar.gif) no-repeat bottom;
	height:715px;
	width:184px;
}
.right_nav {
	width:184px;
	margin:0;
	padding:0;
}
.right_nav table {
	background:url(../images/nav_bartop.gif) repeat-x top;
	list-style:none;
	padding:0;
	margin:55px 0 0 4px;
	line-height:24px;
}
.right_nav table.margin_nav {
	margin:0px 0 0 4px;
}
.right_nav table td {
	background:url(../images/nav_bartop.gif) repeat-x bottom;
	list-style:none;
	padding:0;
	margin:0;
	min-height:24px;
	height:auto;
}
.right_nav table td /*a*/ {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	letter-spacing:1px;
	color:#585858;
	text-decoration:none;
	margin:0;
	padding:0 0 0 21px;
}
.right_nav table td:hover /*a:hover*/ {
	display:block;
	padding:0 0 0 21px;
	margin:0;
	background:url(../images/nav_hover.gif) repeat-y;
	color:#585858;
	text-decoration:none;
	min-height:24px;
	height:auto;
}
/*.right_nav table td a:active{
background:url(../images/navi_active.gif) no-repeat;
}*/


.story_leftcol {
	width:706px;
	padding:8px 0 0 20px;
}
.story_leftcol h1 {
	background:url(../images/heading_brdbtm.gif) no-repeat left bottom;
	color:#6ac2db;
	font-size:25px;
	padding:0 0 30px 0;
	width:679px;
	text-transform:capitalize;
}
.box1_story {
}
.box1_story h2 {
	background:url(../images/heading1_right.gif) no-repeat right bottom;
	display:block;
	padding:8px 0 0 0;
	margin:0;
}
.box1_story h2 span {
	background-color:#fff;
	border-left:1px solid #c9dee4;
	border-right:1px solid #c9dee4;
	border-top:1px solid #c9dee4 !important;
	color:#5ab4cd;
	font-size:16px;
	padding:8px 12px 0 19px;
}
.box1_story h3 {
	color:#5ab4cd;
	font-size:16px;
	margin:0 0 2px 0;
}
.bg_box1 {
	background:url(../images/bg_box_middle1.gif) repeat-y;
	padding:5px 16px 3px 19px;
}
.bg_box1 p {
	line-height:14px;
}
.bg_box1 img {
	margin:0 0 0 0px;
	padding:0;
}
.img2_story {
	border:1px solid #686b6b;
	padding:0;
	margin:26px 0 0 0px;
}
.box2_story {
}
.box2_story h2 {
	background:url(../images/heading2_right.gif) no-repeat right bottom;
	display:block;
	padding:8px 0 0 0;
	margin:0;
}
.box2_story h2 span {
	background-color:#fff;
	border-left:1px solid #c9dee4;
	border-right:1px solid #c9dee4;
	border-top:1px solid #c9dee4 !important;
	color:#5ab4cd;
	font-size:16px;
	padding:8px 12px 0 19px;
}
.bg_box2 {
	background:url(../images/bg_box_middle2.gif) repeat-y;
	padding:5px 16px 3px 19px;
	font-size:13px;
	line-height:20px;
}
.bg_box2 p {
	line-height:14px;
}
.bg_box2 td.slash_right {
	background:url(../images/slash_story.gif) no-repeat right;
}
.small_txt {
	font-size:10px;
}
.box3_story {
}
.box3_story h2 {
	background:url(../images/heading3_right.gif) no-repeat right bottom;
	display:block;
	padding:8px 0 0 0;
	margin:0;
}
.box3_story h2 span {
	background-color:#fff;
	border-left:1px solid #c9dee4;
	border-right:1px solid #c9dee4;
	border-top:1px solid #c9dee4 !important;
	color:#5ab4cd;
	font-size:16px;
	padding:8px 12px 0 19px;
}
.bg_box3 {
	background:url(../images/bg_box_middle3.gif) repeat-y;
	padding:5px 16px 42px 19px;
	font-size:13px;
	line-height:20px;
}
.bg_box3 p {
	line-height:14px;
}
.box4_story {
}
.box4_story h2 {
	background:url(../images/heading4_right.gif) no-repeat right bottom;
	display:block;
	padding:8px 0 0 0;
	margin:0;
}
.box4_story h2 span {
	background-color:#ebf3f5;
	border-left:1px solid #c9dee4;
	border-right:1px solid #c9dee4;
	border-top:1px solid #c9dee4 !important;
	color:#5ab4cd;
	font-size:16px;
	padding:8px 12px 0 19px;
}
.bg_box4 {
	background:url(../images/bg_box_middle4.gif) repeat-y;
	padding:5px 16px 42px 19px;
	font-size:13px;
	line-height:20px;
}
.bg_box4 p {
	line-height:14px;
}
.box5_story {
}
.box5_story h2 {
	background:url(../images/heading4_right.gif) no-repeat right bottom;
	display:block;
	padding:8px 0 0 0;
	margin:0;
}
.box5_story h2 span {
	background-color:#edeadd;
	border-left:1px solid #c9dee4;
	border-right:1px solid #c9dee4;
	border-top:1px solid #c9dee4 !important;
	color:#8e7f60;
	font-size:16px;
	padding:8px 12px 0 19px;
}
.bg_box5 {
	background:url(../images/bg_box_middle5.gif) repeat-y;
	padding:5px 16px 42px 19px;
	font-size:13px;
	line-height:20px;
}
.bg_box5 p {
	line-height:14px;
}
.box6_story {
}
.box6_story h2 {
	background:url(../images/heading4_right.gif) no-repeat right bottom;
	display:block;
	padding:8px 0 0 0;
	margin:0;
}
.box6_story h2 span {
	background-color:#e9fbf8;
	border-left:1px solid #c9dee4;
	border-right:1px solid #c9dee4;
	border-top:1px solid #c9dee4 !important;
	color:#129884;
	font-size:16px;
	padding:8px 12px 0 19px;
}
.bg_box6 {
	background:url(../images/bg_box_middle6.gif) repeat-y;
	padding:5px 16px 42px 19px;
	font-size:13px;
	line-height:20px;
}
.bg_box6 p {
	line-height:14px;
}
.brown_txt {
	color:#8e7f60 !important;
}
.margin_btm {
	margin-bottom:10px !important;
}
.trending_leftcol {
	width:706px;
	padding:8px 0 0 0px;
}
.trending_leftcol h1 {
	background:url(../images/heading_brdbtm.gif) no-repeat left bottom;
	color:#6ac2db;
	font-size:31px;
	padding:0 0 30px 0;
	width:679px;
	text-transform:capitalize;
}
.trending_leftcol table.inner1_trending {
	padding:0;
	margin:8px 0;
	line-height:15px;
}
.trending_leftcol table.inner1_trending p {
	line-height:15px;
}
.trending_leftcol table.inner2_trending {
}
.trending_leftcol table.inner2_trending td {
	background:url(../images/bgtrending_inner2.gif) repeat-x;
	padding:0;
}
.trending_leftcol table.inner2_trending td.bginner2_trending {
	background:url(../images/bgdarktrending_inner2.gif) repeat-x;
	padding:0;
}
.trending_leftcol table.inner3_trending {
}
.trending_leftcol table.inner3_trending td {
	border-bottom:1px solid #f2efe6;
}
.trending_leftcol table.inner3_trending td.no_brd {
	border-bottom:0;
}
.trending_leftcol table.inner4_trending {
}
.trending_leftcol table.inner4_trending td {
	background-color:#b0ffbb;
	border-bottom:1px solid #f2efe6;
}
.trending_leftcol table.inner4_trending td.bggreen_trending {
	background: #14c021 url(../images/bg_green_trend.gif) top left repeat-x;
	color:#fff;
	font-size:14px;
	line-height:30px;
	vertical-align:middle;
}
.trending_leftcol table.inner4_trending td.bggreen_trending img {
	float:none;
	position:relative;
	top:4px;
}
.trending_leftcol table.inner5_trending td.bggreen_trending img {
	float:none;
	position:relative;
	top:10px;
}
.trending_leftcol table.inner5_trending {
}
.trending_leftcol table.inner5_trending td {
	background-color:#ffc6b0;
	border-bottom:1px solid #f2efe6;
}
.trending_leftcol table.inner5_trending td.bggreen_trending {
	background:#f65426 url(../images/bg_red_trend.gif) top left repeat-x;
	color:#fff;
	font-size:14px;
	line-height:30px;
	vertical-align:middle;
}
.bggeneric_trending {
	font-size:14px;
	background: #f2efe6 url(../images/bg_brown_trend.gif) top left repeat-x;
	line-height:30px;
	vertical-align:middle;
}
.tab_bg {
	background: url(../images/bg_toptrending.gif) repeat-x bottom #edeadd;
	height: 33px;
}
#tab {
	width: 706px;
	height: 33px;
	margin: 0px 0 0 9px;
	float:left;
}
#tab a {
	height: 33px;
	cursor: pointer;
	vertical-align: middle;
	display: block; /*opera*/
	display: inline-block; /*ie*/
	background: url(../images/tab_left.gif) repeat top left;
	display: block;
	float: left;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	line-height: 33px;
	padding: 0 10px 0 10px;
	text-decoration: none;
	margin: 0px 0px 0 4px;
}
#tab a span {
	display: block;
	display: inline-block;
	background: url(../images/tab_right.gif) no-repeat top right;
	padding: 0 0px 0 0px;
	margin:0 0px;
}
#tab a:hover, #tab .select_tab {
	background-position: bottom left;
	color:#d98032;
}
#tab a:hover span, #tab .select_tab span {
	background-position: bottom right;
}
#tab a.help_tab {
	display:block;
	width:50px;
	font-size:15px;
	padding: 0 0 0 0;
}
#tab a.help_tab span {
	display:block;
	width:50px;
	padding: 0 20px 0 20px;
}	
.brd_right {
	border-right:1px solid #cee2e9;
}
.big_txt {
	font-size:30px;
	line-height:24px;
}
table.datatable {
	border: 1px solid #ccc;
	border-width: 1px 0 0 1px;
}
table.datatable td {
	border: 1px solid #ccc;
	border-width: 0px 1px 1px 0px;
}
table.datatable th {
	border: 1px solid #ccc;
	background-color: #eee;
	border-width: 0px 1px 1px 0px;
}
.big_txt1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:30px;
	color:#666666;
}
.big_txt2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:42px;
	color:#666666;
	padding:0 0 10px 0;
	display:block;
}
.big_txt3 img {
	position:relative;
	top:-3px;
}
.brown_txt2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:13px;
	color:#666666;
	font-weight:bold;
}
.white_txt {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#fff;
	font-weight:bold;
}
.brown_txt3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666666;
	font-weight:bold;
}
.bg_box7 {
	background:url(../images/img_growth.jpg) no-repeat;
	padding:5px 0 0px 14px;
	height:96px;
}
.bg_box8 {
	background:url(../images/img1_story.jpg) no-repeat;
	padding:5px 0 0px 14px;
	height:96px;
}
.bg_box9 {
	background:url(../images/img_commodity.jpg) no-repeat;
	padding:5px 0 0px 14px;
	height:96px;
}
.pnlError, .pnlSuccess {
	padding:5px 5px 5px 5px;
	position:absolute;
	top:400px;
	color:White;
	font-weight:bold;
	width:200px;
	min-height:40px;
	border:1px outset #F6F6F;
}
.pnlError {
	background:Red;
}
.pnlSuccess {
	background:Green;
}
.pnlError a, .pnlSuccess a {
	color:Yellow;
	text-align:center;
}
.rptImage {
	max-width:360px;
	max-height:280px;
}
.hide {
	visibility: hidden;
	display: none;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}  /* for IE/Mac */
.clearfix {
	zoom: 1\9;     /* triggers hasLayout */
	display: block\9;     /* resets display for IE/Win */
}  /* Only IE can see inside the conditional comment
    and read this CSS rule. Don't ever use a normal HTML
    comment inside the CC or it will close prematurely. */




/* css written on 03-june-09 ends here */
