@media(max-width: 999px) {
	.wrapper {
		background-size: 125%;
	}
	.container,
	#trial-box {
		width: 100%;
		margin: 0;	
		padding: 0;
	}

	.content,
	#buttons,
	.bottom,
	.banner,
	.info-home {
		width: 100%;
		margin: 0;	
		padding: 0;
	}	 
	
	.content {
		background: #fff;
	}

	img {
		max-width: 100%;
	}
	/*.flash {
		display: none;
	}*/
	.content,
	.info-home, 
	.wrapper-home  {
		/*background-image: none;*/
		background-size: 100%;
	}
	.infoText {
		width: 100%;
		padding: 15px;
	}
	.column-content {
		margin: 15px;
	}
	.content {
		float: none;
		.info-home {
			float: none;
			#home_main {
				height: 600px;
				width: 100%;
    			background: #fff;

    			.desc,
    			#homepage-result-panel,
    			.flash,
    			.subscribe {
    				position: relative;
    			}

    			.flash {
					width: 30%;
					position: absolute;
					z-index: 10;
					top: 335px;
					left: 0;

				    p#david,
				    p#david-video-intro {
				    	color: #fff !important;
				    }
				    p#david-title {
				    	color: #004d64;	
				    }
				    
    			}

    			.desc {
					width: 50%;
					float: left;
    			}

    			#homepage-result-panel {
					width: 45%;
					float: right;
					position: relative;
					left: 0;
    			}

    			.subscribe {
    				padding-right: 20px;
    				z-index: 1;
					background: #117E9F;
					left: initial;
					height: 47%;
					top: initial;
					display: block;
					float: left;
					position: absolute;
					width: 100%;
					bottom: 0; 
					    padding: 15px 0;
					.left_desc  {
						float: right;
						width: 70%;

						#trial-box {
							h3 {
								line-height: normal;
							}
							#trialEmail {
								margin: 0;
							}
							input[type=text] {
								width: 93%;
							}
							.gform_wrapper {
								ul {
									padding: 0;
									margin: 0;
									li {
										float: none;
										display: block;
										input {
											margin-right: 0;
											padding: 10px;
											display: block;
										}
									}
								}
								.gform_button {

								}
							}
							    
						}
					}
    			}
			}
		}
	}

	.banner {
		background: #fff url(../images/banner-strip.jpg) repeat-x top left;
		.client_login {
		    display: block;
			position: absolute;
			right: 0;
			top: 4px;
			width: 400px;
			height: auto;
			padding-left: 0;
			z-index: 9999;
		}
		.banner_text {
			position: absolute;
			top: 40px;
			right: 0;

			p {
				padding: 35px 28px 0px 0px;
			}
		}	
	}

	.head-pos {
		margin-top: 17px;
		text-align: right;
		padding-right: 30px;
		padding-top: 0;
	}

	#result-percentage {
		position: initial;
		width: auto;
		height: auto;
		line-height: normal;		
	}
	#result-summary {
		p {
			position: initial;
			width: auto;
		}
	}

	#featured-reports-content {
		background: #fff;
		.sections {
			width: 100%;
			background-image: none;
			.reports {
				width: 100%;
				.featured-column {
					width: 33.33%;
					margin: 0;
					.fleft {
						float: left;
					}
					.top {
						background-image: none !important;
						background-color: #eeeeee;
						margin: 15px 15px 0;
						padding: 15px;
						width: auto;
						height: auto;
						float: none;
						.header {
							width: auto;
							height: auto;
							position: initial !important;
							a {
								background-size: initial;
								background-position: center;
								background-color: @bgray;
								width: 130px;
								height: 130px;
								margin: 20px auto;
								-webkit-border-radius: 1000px;
								-moz-border-radius: 1000px;
								border-radius: 1000px;
								text-decoration: none;
							}
							a.icon-trending:hover {
								background-color: #e2862d;
							}
							a.icon-growth:hover {
								background-color: #12584d;								
							}
							a.icon-commodity:hover {
								background-color: #5c513d;								
							}
							a.icon-blue_chip:hover {
								background-color: @sky;								
							}
							a.icon-story_month:hover {
								background-color: @blgray;								
							}
						}
						.desc {
							p {
								font-size: 18px;
								line-height: 18px !important;
							}
						}
						.desc,
						p.link {
							text-align: center;	
							line-height: normal;
							margin-bottom: 15px;					
						}
					}
					.count {
						background: #e2862d;
						margin: 0 15px 15px;						

						.trending_numbers,
						p.fleft	 {
							color: #fff;

						}
						.trending_numbers {
							width: 20%;
							padding: 10px 0px;
							text-align: center;
						}
						p.fleft {
							width: 80%;
							font-size: 16px;							
							text-align: left;
							padding: 17px 0px;
						}
					}
				}
			}
		}
	}	
	.bottom {
		.bottom_left {
			width: 100%;
			padding-left: 0;
			border: 0;
		}
	}
}
@media(max-width: 768px) {
	.bottom_left {
		padding-left: 0;
		border: 0;
	}


}
@media(max-width: 767px) {
	h1 {
		background-image: none;
		padding: 0;
		font-size: 32px;
		line-height: normal;
		height: auto;
	}
	.banner {
		
		.logo {
			width: 30%;
			background: none;
			height: auto;
			img {
				max-width: 100%;
				height: auto;
				min-width: 124px;
			}
			a {
				line-height: 0;
				display: block;
			}
		}
	}
	.desktop,
	.mobile-hidden {
		display: none;
	}
	.mobile {
		display: block;
	}
		
	#buttons {		
		display: none;				
	}
	.banner {			
		.mobile {
			text-align: right;
			color: #fff;
		}
		/*.client_login {
		    
		    top: 21px;
		}*/
		.client_login {
			top: 22px;
			right: 30px;
			.head-pos {
				margin: 0;
				padding: 0;
			}
		}
	}
	.mobile-menu {
		display: block;
		position: absolute;
		left: 30%;
		width: 200px;
		top: 22px;
		ul {
			position: absolute;
			left: 0;
			li {
				list-style-image: none;
				text-align: left;
				display: inline-block;

				a{
					margin-right: 15px;
					color: #fff;
				}
			}
		}
	}
	.mobile-hero {
		padding: 60px 0;
		background-size: cover !important;
		.hero-text {
			background: url(../images/hero-strip.png) repeat top left;
			width: 80%;
			margin: 0 auto;
			padding: 40px 10px 40px 10px;
			text-align: center;
			h2 {
				font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
				font-weight: 100;
				font-size: 34px;
				color: #fff;
				text-align: center;
				margin-bottom: 20px;
				line-height: normal;
			}

			p {
				color: #fff;
				font-size: 18px;
				line-height: 21px;
			}

			button {
				border: 0;
				background: transparent;
				width: 44px;
				height: 44px;
				background: url(../images/icon-play.png) no-repeat center;
				text-indent: -9999999px;
				font-size: 0;
			}
		}
	}
	.trial-form {
		background: #ffffff url(../images/banner-strip.jpg) repeat-x top left;
		padding: 10px;
		padding: 21px 20px;
		position: relative;
		p {
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
			font-size: 18px;
			color: #57aef1;
			margin: 0;			
		}
		a {
			color: #fff;
		    padding: 20px;
		    background: #e2862d;
		    position: absolute;
		    top: 0;
		    right: 0;
		}
	}

	.featured-reports-content {
		.featured-column {
			width: 50%;

			
		}
	}
	#featured-reports-content {
		.sections {
			.reports {
				.featured-column {
					width: 50%;
				}
			}	
		}
	}	
	.info-home {
		min-height: initial;
		height: auto;
	}
	.info-home {
		background-image: none;
		background-color: #fff;
	}
}

@media(max-width: 680px) {
	.column-content {
		.grid_6.h {
			width: 100%;
			float: none;
		}
	}		
	/* Result page */
	.result-box {
		background: #e0eff2;		
		padding-bottom: 10px;
		margin: 20px;
		overflow: hidden;
		border-radius: 5px;
		.stock-name {
			background: #5da5b5;
		    padding: 10px;
		    color: #fff;
		    font-weight: bold;
		    font-size: 30px;
		    margin-bottom: 10px;
		    width: 100%;
		}

		.date-bought,
		.dbp,
		.date-sold,
		.dsp,
		.profit,
		.percent {
			font-size: 14px;
			padding: 0 15px;
			text-transform: uppercase;
			width: 100% !important;
		}
	}
	/* End of Result page */
}

@media(max-width: 550px) {
	body {
		background: #907f4a;
	}
	.banner {
		background-size: cover !important;
		/*.banner_text {
			display: none;
		}*/
		height: 140px;
		.logo {
    		width: 25%;
    	}
		
		.mobile-menu {
			top: 40px;
		}
	}
	.banner_text {
		position: initial !important;
		clear: both;
		display: block;
		background: #fff;
		min-height: 65px;

		p {
			padding: 10px 0 !important;
			text-align: center;
			width: 100%;
		}
	}
	.bottom {
		.bottom_left,
		.bottom_right {
			width: 100%;
		}
	}
	#featured-reports-content {
		.sections {
			.reports {
				.featured-column {
					margin: 0;
					width: 100%;
				}
			}
		}
	}
	.bottom_right {
		padding-left: 0;
	}
	.padding-mobile,
	.infoText {
		margin: 5%;
    	width: 95%;
		padding: 0;
	}
}

@media(max-width: 480px) {
	.banner {
		.client_login {
			top: 10px;
		}
		.mobile-menu {
			top: 45px;
			width: 100%;
		    left: 0;
		    display: block;

		    ul {
				right: 20px;
				left: initial;
		    }
		}
	}

	.head-pos {
		span.mob {
			display: none;
		}
	}
	.mobile-hero {
		.gform_wrapper {
			width: 88%;
		}
	}
}


@media(max-width: 360px) {
	.mobile-hero {
		padding: 0;
		.hero-text {
			width: 100%;
		}
	}
	#featured-reports-content {
		.sections {
			.reports {
				.featured-column {
					width: 100%;
				}
			}
		}
	}
	.trial-form {
		p {
			font-size: 14px;
		}

}