@media (max-width: 999px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .content,
  .bottom,
  #buttons,
  .banner,
  .info-home {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
  }
  .content,
  .info-home,
  .wrapper-home {
    /*background-image: none;*/
    background-size: 100%;
  }
  .content .info-home #home_main {
    width: 100%;
    background-size: cover;
  }
}
