/* Alistapart.com - for print. Revised Apr 16, 2004, copyright 2004 Happy Cog Studios */

html {width: 100%;}

body {
	background: white;
	text-align: left;
	color: black;
	font-size: 11pt !important;
	line-height: 125%;
	border: 0;
	border-top: 0;
	margin: 0;
	padding: 0; 
	font-family: Arial, Helvetica, sans-serif;
	width: 90%;
  	 }
	 
#banner {
	display: none;
}
#banner_logo {
	display: none;
}
#banner_buttons {
	display: none;
}
#buttons_bottom {
	display: none;
}

#footer {
	display: none;
}

#buttons {
	display: none;
}
