* {
	outline: none;
}

@bookgray: #cfcab8;
@booklightgray: #edeadd;
@bgray: #2e5665;
@blgray: #5da5b5;
@sky: #008080;
p {
	margin-bottom: 22px;
}

img {
	max-width: 100%;
	height: auto;
}
.column-content {
	border: 1px solid #ccc;
	.h {
		background-color: #eee;
		margin: 0;
		width: 50%;
		h3 {
			display: block;
			text-align: center;
			padding: 10px 0;
			margin: 0;
		}
	}
	.border-r-b{
		margin: 0;
		background: #fff;
		width: 100%;
		.box {
			border: 1px solid #ccc;
			/*border-bottom: 1px solid #ccc;*/
			padding: 15px;			
		}
		.box:last-child {
		}
	}
}
.client_login {
	display: none;
	height: auto;
	span.p12 {
		float: left;
		padding-top: 7px;
	}
}
.banner_text {/*
	display: none;*/

	p {
		padding: 35px 40px 0px 0px;
	}
}
.mobile {
	display: none;
}
	
#loginform {
	margin-top:-10px;
	input {
	    display: block;
	    width: 103px;
	    height: 18px;
	    font-size: 11px;
	    margin: 0px 5px;
	    padding: 2px 0px 0px;
	    padding: 5px 0px 0px\9;
	    background: #fff;
	    border: none;
	    float: left;
	    padding: 3px;
    	border-radius: 3px;
	}
	.login-remember {
		display: none;
	}

	input#wp-submit {
		background: url('../images/login.jpg') no-repeat;
	    height: 22px;
	    width: 69px;
	    border: 0px;
	    border-width: 0px;
	    text-indent: -9999px;
	    cursor: pointer;
	}
}

.trending-content-list {
	position: relative;
	margin-top: 88px;
	background: @booklightgray;



	/*----- Tabs -----*/
	.tabs {
	    width:100%;
	    display:inline-block;
	}
	 
	    /*----- Tab Links -----*/
	    /* Clearfix */
	.tab-links:after {
	    display:block;
	    clear:both;
	    content:'';
	}

	.tab-links {
		padding: 0;
		position: relative;
	    z-index: 2;
	    margin-bottom: -5px;
		li {
		    margin:0px 1px;
		    padding: 0;
		    float:left;
		    list-style:none;
		}
		li:first-child {
			margin-left: 15px;
		}
		a {
	        
	        background: url(../images/strip-trending-bg.jpg) repeat-x top left;
	        font-family: Georgia, "Times New Roman", Times, serif;
	        
		    cursor: pointer;
		    vertical-align: middle;
		    display: block;
		    display: inline-block;
		    
		    display: block;
		    float: left;	    
		    font-size: 15px;
		    font-weight: bold;
		    color: #fff;
		    line-height: 33px;
		    padding: 0 10px 0 10px;
		    text-decoration: none;
		    margin: 0px 0px 0 4px;
	    }
	    a:hover {
	        text-decoration:none;        
	    	background: #fff none;
	    	color: #d98032;
	    }
	}

	li.active {
		a, a:hover {
	    background: #fff;
	    color: #d98032;
		}
	}

	/*----- Content of Tabs -----*/

	.tab-border {
		width: 750px;
		border-top: 5px solid #cfcab8;
		border-right: 5px solid #cfcab8;
		background: url(../images/strip-square.jpg) repeat top left;

		.asx,
		.smlmed {
			.content-tables {
				text-align: center;
				.status.active {
					background-color: #b0ffbb;
				}
				status.none {
					background-color: #ffd9d9;
				}
				span {
					width: 18px;
					height: 18px;
					display: block;
					margin: 0 auto;
				}
				span.yes {
					background: url(../images/trending_yes.png) no-repeat center;
				}
				span.no {
					background: url(../images/trending_no.png) no-repeat center;
				}
			}
		}
	}
	.tab-content {
	    padding:15px;    
	    background:#fff;
	}
	 
	.tab {
	    display:none;
	}

	.tab.active {
	    display:block;
	}
}
.mobile-hero {
	h3 {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: 24px;
		color: #fff;
		font-weight: 100;
	}
	.gform_wrapper {	
		padding: 10px 20px 30px 20px;
		width: 351px;
	    height: auto;
	    margin: 20px auto 0 auto;
		.gform_title {
			display: none;
		}
		ul {
			margin-left: 0;
			li {
				list-style-image: none;
				input, textarea, select {
					padding: 10px 10px;
					width: 93%;
					border: 0;
					border-radius: 3px;
				}

			}
		}
		input[type=submit] {
			background: #57aef1;
			border: 0;
			color: #fff;
			width: 100%;
			padding: 10px 10px;
			border-radius: 3px;
		}
	}
}
	
.flexi-column-right {
	.gform_wrapper {
		background: url(../images/joinNow_subscribe.jpg) no-repeat top left;
		padding: 60px 20px 30px 20px;
		width: 351px;
	    height: 545px;
	    margin: 20px auto 0 auto;
		.gform_title {
			display: none;
		}
		ul {
			margin-left: 0;
			li {
				list-style-image: none;
				input, textarea, select {
					padding: 5px 10px;
				}
			}
		}
	}
}
	

.story_leftcol {
	margin-top: 100px;

	.box1_story {
		h2 {
			width: 333px;
		}
		h3 {
			margin-bottom: 22px;
		}
	}
	.bg_box1 {
		padding: 32px 19px 3px 19px;
		width: 295px;
		background-size: 100%;

		.s_right {
			padding-right: 20px;

			strong {
				color: @sky;
			}

			.bg_box8 {
				height: auto;
			}
		}
	}
	.bg_box2 {
		background-size: 100% !important;
	}
	.bg_box1.bottm {	
		width: 308px;
	}
	.borderbottom {
		height: 10px;
		display: block;
		background: url(../images/box_btm1.gif) no-repeat left top;

	}
	.borderbottom2 {
		height: 10px;
		display: block;
		background: url(../images/box_btm2.gif) no-repeat left top;
		background-size: 100%;
	}

	.borderbottom.last {
		background-size: 100%;
	}
}
.popmake-content {
	> div {
		width: 100% !important;
		> div {
			width: 100% !important;
		}
	}
}

#trial-box {
	.gform_wrapper {
		ul {
			padding: 0;
			li {
				list-style-image: none;
				display: inline-block;
				float: left;

			}
		}
		.gform_button {
			background-color: #00394b;
		    width: 150px;
		    height: 50px;
		    border: none;
		    font-size: 16px;
		    font-family: Georgia, "Times New Roman", Times, serif;
		    color: white;
		    border-top-left-radius: 5px;
		    border-top-right-radius: 5px;
		    border-bottom-left-radius: 5px;
		    border-bottom-right-radius: 5px;
		    cursor: pointer;
		}
	}
	    
}
.mobile-menu {
	display: none;
}
.featured-column {
	.top {
		.header {
			a {
				background-size: 0;
			}
		}
	}
}
.head-pos {
	padding-top: 14px;
    color: #fff;
}

#popmake-640 {
	/*background: url(../images/hero-strip.png) repeat top left;*/
}


/* General styles for all menus */
.cbp-spmenu {
	background: #231f20;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 9999999999999999999;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}



/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}

nav.cbp-spmenu {
	ul.nav {
		margin-bottom: 30px;
		li {
			float: none !important;
			a {
				font-family: $exo2;
				font-weight: 700;
				font-size: 17px;
				text-transform: uppercase;
			}
		}
	}

	span {
		a {
			background: $lblue;
			font-size: 17px;
			font-weight: 700;
			font-family: "Exo 2",sans-serif;
			font-style: italic;
			text-transform: uppercase;
			color: #fff;
			padding: 15px 30px;
			border-radius: 4px;
			margin: 0 auto;
			display: inline-block;
			margin-left: 17px;
		}
	}
}	
.mobile {
	display: none;
}

#showLeft {
	float: right;
	display: block;
	width: 35px;
	height: 29px;
	background: none;
	border: 0;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;

	span {
		display: block;
		position: absolute;
		height: 5px;
		width: 100%;
		background: #fff;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}
	span:nth-child(1) {
		top: 0px;
	}	

	span:nth-child(2),
	span:nth-child(3) {
		top: 10px;
	}

	span:nth-child(4) {
		top: 20px;
	}
}

#showLeft.open {
	span:nth-child(1) {
		top: 18px;
		width: 0%;
		left: 50%;
	}

	span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	span:nth-child(4) {
		top: 18px;
		width: 0%;
		left: 50%;
	}
}

#closebtn {
	display: none;
	position: relative;
	z-index: 999999999;
	margin: 6px;
	width: 37px;
	height: 35px;
	background: #fff;
	border: 0;
	background: url(../images/close.png) no-repeat center;
}


@import "mobile.less";