/* DEFAULT
body{font-family:verdana;font-size:11px;color:#666666;margin:5px;background:#ffffff}
td{font-family:verdana;font-size:11px;color:#666666}
a:link{color:#777777}
a:visited{color:#777777}
a:hover{color:#111111}
li{line-height:19px}
.highlight{color:Red} */

/*  TEXT STYLES  */
p,.p,h1,.h1,h2,.h2,h3,.h3{margin: 0px 0px 10px 0px;font-weight:normal;}

p,.p{font-size:13px;line-height:18px;color:#414042;}
h1,.h1{font-size:15px;line-height:20px;color:#035A72;font-family:Georgia, "Times New Roman", Times, serif;text-transform:uppercase;
background:url(../images/headingBG.jpg) top left no-repeat;height:21px;padding:0px 0px 0px 10px;clear:both;}
h2,.h2{font-size:14px;line-height:19px;color:#414042;font-family:Georgia, "Times New Roman", Times, serif;font-weight:bold;}
h3,.h3{font-size:13px;line-height:18px;color:#035A72;font-family:Georgia, "Times New Roman", Times, serif;font-weight:bold;}

div,.div,table,th,tr,td{color: #454545;}

.blue{color:#035A72;}.blue2{color:#0C82A2;}.green{color:#03607A;}.grey{color:#585858;}.lgrey{color:#CCCCCC;}.white{color:#FFFFFF;}
table.h1 
{
  margin:5px, 0px, 5px 0px ;
}
.p8{font-size:8px;}.p9{font-size:9px;}.p10{font-size:10px;}
.p11{font-size:12px;}.p12{font-size:12px;}.p13{font-size:13px;}
.p14{font-size:14px;}.p15{font-size:15px;}.p16{font-size:16px;}
.p17{font-size:17px;}.p18{font-size:18px;}.p19{font-size:19px;}
.p20{font-size:20px;}.p21{font-size:21px;}.p22{font-size:22px;}
.p23{font-size:23px;}.p24{font-size:24px;}.p25{font-size:25px;}
.p26{font-size:26px;}.p27{font-size:27px;}.p28{font-size:28px;}
.p29{font-size:13px; font-family:Georgia, "Times New Roman", Times, serif;}